---
component: header-logo
hide: true
published: false
---

<h1 class="site-header__logo" itemscope itemtype="http://schema.org/WPHeader">
	<a href="/" class="site-header__link">{{package.title}}</a>
</h1>
