<header id="site-header" class="site-header group" role="banner" itemscope itemtype="http://schema.org/WPHeader">
  <h1 class="visually-hidden">{{{title}}} :: Daniel Furze Blog</h1>
  {{>header-navigation}}
</header>
