---
component: header
hide: true
published: false
---

<header id="site-header" class="site-header group" role="banner" itemscope itemtype="http://schema.org/WPHeader">
  {{!-- <button id="text_resizer">A</button> @todo: implement text resizer button when design is done --}}

  {{!-- {{>header-logo}} --}}
  {{>header-navigation}}
</header>
