---
component: header-navigation
hide: true
published: false
---

<nav id="navigation-site" class="navigation-site" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<ul class="navigation-site__list">
    {{!-- Loops navigation data source --}}
    {{#each navigation}}
    <li class="navigation-site__item">
      <a href="{{url}}" class="navigation-site__link {{#if class}}{{class}}{{/if}}">
        <span data-hover="{{title}}">{{title}}</span>
      </a>
    </li>
    {{/each}}
  </ul>
</nav>
