---
component: header
hide: true
published: false
---

<header id="site-header" class="site-header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
  <div class="inner">
    {{>header-logo}}
    {{>header-navigation}}
  </div>
</header>
