/**
 * Banners
 *
 * @author Daniel Furze
 */

 .banner {
  position: relative;
}

.banner--solid {
    @include banner-embellishment($size: 30px, $left: 25%, $right: 75%);

    .banner__meta {
      @include banner-embellishment($size: 20px, $left: 23%, $right: 77%);
    }
}

.banner__image-wrap {
  position: absolute;
}

.banner__meta {
  @include rgba-bg($brand-color, .75);

  color: $brand-white;
  padding: $global-padding;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;

  a {
    color: $brand-white;
  }

  .banner--solid & {
    background: $brand-color;
    position: static;
  }
}

.banner__meta__inner {
  .banner--blog & {
    // only need to align this if it’s an image banner
    @include total-align();
  }
}

.banner__title {
  // <p>
  @extend %heading--alpha;

  font-family: $font-family-sans-serif;
  font-weight: normal;
  margin-top: 0;

  a {
    text-decoration: none;
  }
}

.published {
  // <time>
  font-style: italic;
}

.tldr {
  // <a>
  text-decoration: none;
}

