/**
 * Banners
 *
 * @author Daniel Furze
 */

 .banner {
  position: relative;
}

.banner__image-wrap {
  &::after {
    background: $brand-blue;
    content: '';
    opacity: .75;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.banner__image {
  display: block;
}

.banner__meta {
  @include rgba-bg($brand-blue, .7);
  color: $brand-white;
  padding: ($global-padding * 2) $global-padding;
  text-align: center;

  a {
    color: $brand-white;
  }
}

.banner__title {
  margin-top: 0; // temp
}

.published {
  // <time>
  font-style: italic;
}

.tldr {
  // <a>
  text-decoration: none;
}

