/**
 * Buttons
 *
 * @author Daniel Furze
 */

 @mixin btn($base-color) {
  $base-color-dark: darken($base-color, 10);
  $base-color-darker: darken($base-color-dark, 10);

  background: $base-color;

  &:hover,
  &:focus, {
    background: $base-color-dark;
  }
}

.btn {
  background: $brand-grey;
  backface-visibility: hidden;
  border: 0;
  border-radius: 2px;
  color: $brand-white;
  cursor: pointer;
  display: inline-block;
  font-family: $font-family-sans-serif;
  font-size: .75rem;
  letter-spacing: 0.1rem;
  margin: .5rem auto;
  padding: .5rem;
  text-decoration: none;
  text-transform: uppercase;
  max-width: 100%;

  &:hover,
  &:focus, {
    background: $brand-grey--dark;
    color: $brand-white;
    text-decoration: none;
  }
}

.btn--twitter {
  @include btn($color-twitter-blue);
}

.btn--linkedin {
  @include btn($color-linkedin-blue);
}

.btn--googleplus {
  @include btn($color-googleplus-red);
}

.btn--facebook {
  @include btn($color-facebook-blue);
}
