/**
 * Footer
 *
 * @author Daniel Furze
 */

 .site-footer {
  @extend %col--10-of-12;
  @extend %push--1;

  padding: $global-padding;
}

.site-footer__colophon {
  // <small>
  display: block;
  font-family: $font-family-sans-serif;
  text-align: center;
}
