/**
 * Footer
 *
 * @author Daniel Furze
 */

 .site-footer {
  background: $brand-grey--light;
  margin-top: $global-margin * 2;
  padding: $global-padding;

  .page-home & {
    background: none;
    margin-top: 0;
  }
}

.site-footer__colophon {
  // <small>
  display: block;
  font-family: $font-family-sans-serif;
  text-align: center;
}
