/**
 * Footer
 *
 * @author Daniel Furze
 */

 .site-footer {
  @extend %clearfix;

  background: $brand-grey--light;
  margin-top: $global-margin*2;
  overflow: hidden;
  padding: $global-padding;
  position: relative;

  @include footer-embellishment($size: 20px, $left: 25%, $right: 75%);

  .page-home & {
    background: none;
    margin-top: 0;

    .csstransforms & {
      &::before,
      &::after {
        background: $brand-color;
      }
    }
  }
}

.site-footer__colophon {
  // <small>
  display: block;
  font-family: $font-family-sans-serif;
  text-align: center;
}
