 /**
 * Header
 *
 * Site header and relaed components.
 *
 * @since 1.0.0
 * @author Daniel Furze
 */

/**
 * Site header logo
 *
 * <header>
 *
 * @since 1.0.0
 * @author Daniel Furze
 */
 .site-header {
  background: $brand-blue;
  color: $brand-white;
  height: $header-height;
  padding: $global-padding;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/**
 * Site header logo
 *
 * <h1>
 *
 * @since 1.0.0
 * @author Daniel Furze
 */
 .site-header__logo {
  margin: 0;
}

/**
 * Site header link
 *
 * <a>
 *
 * @since 1.0.0
 * @author Daniel Furze
 */
 .site-header__link {
 }
