/**
 * Navigation
 *
 * @author Daniel Furze
 */

 .skip-link {
  // <a>
  @extend %float-left;

  font-family: $font-family-sans-serif;
  position: absolute!important;
<<<<<<< HEAD
  top: $global-margin*2;
  left: $global-margin*2;
=======
  top: 2.25rem;
  left: 2.25rem;
>>>>>>> hotfix/navigation
  text-align: left;

  > h1 {
    @extend %type--eta;

    line-height: 1.25;
    margin: 0;
  }
}

.navigation__open,
.navigation__close {
  // <button>
  color: $brand-color;
  float: right;
  background: none;
  border: 0;
  display: none;
  font-size: 1.5rem;
  padding: $global-padding;
<<<<<<< HEAD

  .js & {
    display: block;
  }
}
=======
>>>>>>> hotfix/navigation

  .js & {
    display: block;

    @include MQ(M) {
      // Hide if over medium sized screens
      display: none;
    }
  }
}

.navigation__close {
  // <button>
  color: $brand-white;
}

.navigation-site {
  .js & {
   display: none;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 99;
 }

<<<<<<< HEAD
 @include rgba-bg($brand-color, .9);

 @include MQ(M) {
  background: none;
  display: block;
  position: static;
}
=======
  .js & {
   display: none;
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 99;

   @include MQ(M) {
    background: none;
    display: block;
    position: static;
  }
>>>>>>> hotfix/navigation
}

}

.navigation-site__list {
  @extend %list-unstyled;

  clear: both;
  font-family: $font-family-sans-serif;
  text-align: center;

  @include MQ(M) {
    text-align: right;
  }
}

.navigation-site__item {
  .js & {
    margin: $global-margin;
<<<<<<< HEAD
=======

    @include MQ(M) {
      margin: 0 $global-margin 0 0;
    }
>>>>>>> hotfix/navigation
  }

  @include MQ(M) {
    display: inline-block;

    &:last-of-type {
      a {
        margin-right: 0;
      }
    }
  }
}

.navigation-site__link {
<<<<<<< HEAD
  .js & {
    @extend %heading--alpha;
    padding: $global-padding;
=======
  padding: $global-padding;

  .js & {
    @extend %heading--alpha;
    margin: 0;
    padding: $global-padding/2;

    @include MQ(M) {
      font-size: 1.25rem;
    }
>>>>>>> hotfix/navigation
  }

  color: $brand-white;
  display: block;
<<<<<<< HEAD
  padding: $global-padding/2;
=======
  // padding: $global-padding/2;
>>>>>>> hotfix/navigation
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $brand-white;
    text-decoration: underline;
  }

  @include MQ(M) {
    color: $brand-color;
    font-weight: lighter;
    overflow: hidden;
    padding: 0 $global-padding/2;
    position: relative;

    @include MQ(S) {
      margin-right: $global-margin;
    }

    &:hover,
    &:focus {
      .csstransforms & {
      // <html>
      color: $brand-color;
      outline: none;
    }

    span {
      color: $brand-color;
      transform: translateY(-100%);
    }
  }

  span {
   display: inline-block;
   position: relative;
   transition: transform 0.3s;

   &::before {
     content: attr(data-hover);
     font-weight: normal;
     position: absolute;
     top: 100%;
     transform: translate3d(0,0,0);
   }
 }
}
}
