/**
 * Navigation
 *
 * @author Daniel Furze
 */

 .navigation-site {
  @extend %clearfix;
  @extend %float-right;

}

.navigation-site__list {
  @extend %list-unstyled;

}

.navigation-site__item {
  display: inline;
}

.navigation-site__link {
  @extend %link-unstyled;

  display: inline-block;
  padding-right: $global-padding;
}
