/**
 * Shapes
 *
 * @author Daniel Furze
 */

//=Circle
@mixin circle($size: 1rem) {
  @include size($size);

  border-radius: 50%;

  //Child selector is also a circle.
  > * {
    border-radius: 50%;
    display: block;
  }
}

.circle {
  @include circle();
}

@mixin diamond($size: 10rem) {
  @include size($size);

  overflow: hidden;
  transform: rotate(45deg);
  transform-origin: 50% 50%;

  //Child selector is also a diamond and rotated -45deg so the content is facing the right way up.
  > * {
    display: block;
    margin: -25%;
    max-width: 150%;
    transform: rotate(-45deg);
    transform-origin: 50% 50%;
    width: 150%;
  }
}

.diamond {
  @include diamond();
}
