/**
 * Float left
 *
 * @author Daniel Furze
 */
%float-left {
  float: left;
}

/**
 * Float right
 *
 * @author Daniel Furze
 */
%float-right {
  float: right;
}

/**
 * Centered
 *
 * @author Daniel Furze
 */
%centered {
  margin: 0 auto;
}

/**
 * Text indent
 *
 * @author Daniel Furze
 */
%text-indent {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/**
 * Overflow ellipsis
 *
 * @author Daniel Furze
 */
%overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
