/**
 * Base
 *
 * @author Daniel Furze
 */

 *,
 *::before,
 *::after {
  box-sizing: border-box;
}

//=Basic
html {
  font-size: 65%; // Use for rem measurements

  @include MQ(S) {
    font-size: 85%;
  }

  @include MQ(M) {
    font-size: 100%;
  }

  @include MQ(L) {
    font-size: 120%;
  }

  @include MQ(XL) {
    font-size: 125%;
  }

  @include selection();
}

body {
  background: $body-bg;
  color: $body-color;
  font-family: $font-family-serif;
  // @include contrasted($body-bg); //Does body background-color and color. //@TODO this
  -webkit-font-smoothing: subpixel-antialiased; //For use with dark text on light backgrounds //@TODO set this dynamically based on body background & color
  // -webkit-font-smoothing: antialiased; //Uncomment for use with light text on dark backgrounds.

  text-size-adjust: 100%;
  // Opts out of browsers *fixing* text size zooming for non mobile ready sites on mobile devices.
  // If you're not building a responsive or mobile first site you won't need this CSS property. But you should be.
  // Careful, don't use 'none' for this property - see [http://www.456bereastreet.com/archive/201011/beware_of_-webkit-text-size-adjustnone].
}

label {
  cursor: pointer; // Cos labels should be used semantically and attached to inputs!
}

code {
  background: rgb(240, 240, 240);
  display: block;
  font-family: $font-family-mono;
  margin: .25rem 0;
  padding: $global-padding $global-padding / 2;

  &.inline {
    display: inline;
    padding: 2px;
  }
}

img {
  height: auto;
  max-width: 100%;
}

hr {
  background: $brand-grey;
  border: 0;
  display: block;
  height: px-to-rem(1px);
  margin: px-to-rem(50px) 0;
  padding: 0;
}

sup,
sub {
  a {
    text-decoration: none;
  }
}

figure {
  figcaption {
    font-style: italic;
    text-align: center;
  }
}
