/**
 * Base
 *
 * The base styles.
 * Styles added to basic selectors go here.
 *
 * @since 1.0.0
 * @author Daniel Furze
 */

/**
 * Box sizing.
 * Set to correct box model, where possible.
 *
 * @group base
 *
 * @since 1.0.0
 * @author Daniel Furze
 */
 *,
 *::before,
 *::after {
  box-sizing: border-box;
}

/**
 * Html.
 * Font size initially 65% - use for rem measurements.
 *
 * @group base
 *
 * @since 1.0.0
 * @author Daniel Furze
 */
 html {
  // font-size: 100%;

  @include MQ(L) {
    font-size: 120%;
  }

  @include MQ(XL) {
    font-size: 125%;
  }

  @include selection($brand-blue, $brand-white);
}

/**
 * Body.
 * Background color, text color, font smoothing, text adjust
 * @group base
 *
 * @link http://www.456bereastreet.com/archive/201011/beware_of_-webkit-text-size-adjustnone
 *
 * @since 1.0.0
 * @author Daniel Furze
 *
 * @todo Implement contrasted body-bg and color
 * @todo Set webkit-font-smoothing dynamically based on body-bg and color
 */
 body {
  background: $body-bg;
  color: $body-color;
  // @include contrasted($body-bg); // Does body background-color and color.
  font-family: $font-family-serif;
  -webkit-font-smoothing: subpixel-antialiased; // For use with dark text on light backgrounds
  // -webkit-font-smoothing: antialiased; // Uncomment for use with light text on dark backgrounds.
  // padding-top: $header-height;
  // text-size-adjust: 100%;
  // Opts out of browsers *fixing* text size zooming for non mobile ready sites on mobile devices.
  // If you're not building a responsive or mobile first site you won't need this CSS property. But you should be.
}

/**
 * Link.
 *
 * @group base
 *
 * @since 1.1.0
 * @author Daniel Furze
 */
 a {
  color: $link-color;

  p &,
  small &,
  li & {
    font-weight: 700;
  }

  text-decoration: none;

  &:hover {
    color: lighten($link-color, 15);
    text-decoration: underline;
  }

  &[rel='external'] {
    &::after {
      @extend %icon-font;

      color: $brand-grey--dark;
      content: '\e600';
      display: inline;
      font-size: .75em;
    }
  }
}

/**
 * Paragraph.
 * Removes bottom margin on last paragraph in a container.
 *
 * @group base
 *
 * @since 1.1.0
 * @author Daniel Furze
 */
 p {
  &.todo {
    background: #F0EE97;
    font-style: italic;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

/**
 * Superscript and subscript.
 * Default styles.
 *
 * @group base
 *
 * @since 1.1.0
 * @author Daniel Furze
 */
 sup,
 sub {
  font-size: 100%;

  a {
    color: $brand-blue;
    text-decoration: none;
  }
}

sup {
  top: -.25rem;
}

sub {
  bottom: -.25rem;
}

/**
 * Label.
 * Cursor pointer, as labels should be used semantically and attached to inputs, therefore be clickable.
 *
 * @group base
 *
 * @since 1.0.0
 * @author Daniel Furze
 */
 label {
  cursor: pointer;
}

/**
 * Code.
 *
 * @link http://www.sitepoint.com/eight-definitive-font-stacks-2
 *
 * @group base
 *
 * @since 1.1.0
 * @author Daniel Furze
 */
 code {
  background: rgb(240, 240, 240);
  display: block;
  font-family: $font-family-mono;
  font-size: .85rem;
  margin: .25rem 0;
  padding: $global-padding $global-padding / 2;
  word-break: break-word;

  &.inline {
    display: inline;
    padding: 2px;
  }
}

/**
 * Figure, figure caption
 * Default styles.
 * If figure has an images and figcaption, add margin in between.
 *
 * @group base
 *
 * @since 1.1.0
 * @author Daniel Furze
 */
 figure {
  img + figcaption {
    margin-top: $global-margin / 2;
  }

  figcaption {
    font-family: $font-family-sans-serif;
    font-size: smaller;
    font-variant: small-caps;
    text-transform: lowercase;
    text-align: center;
  }
}

/**
 * Image.
 * Max width 100%, height auto for scalable images.
 *
 * @group base
 *
 * @since 1.0.0
 * @author Daniel Furze
 */
 img {
  height: auto;
  max-width: 100%;
}

/**
 * Horizontal rule.
 * Default styles.
 *
 * @group base
 *
 * @since 1.1.0
 * @author Daniel Furze
 */
 hr {
  background: $brand-grey;
  border: 0;
  display: block;
  height: px-to-rem(1px);
  margin: px-to-rem(50px) 0;
  padding: 0;
}

/**
 * Lists.
 * Default styles.
 * A list after a paragraph needs no padding.
 *
 * @group base
 *
 * @since 1.1.0
 * @author Daniel Furze
 *
 * @todo Implement list styles.
 */
 ol,
 ul {
  p + & {
    padding-left: px-to-rem(20px);
  }
}

/**
 * Lists.
 * Default styles.
 *
 * @group base
 *
 * @since 1.1.0
 * @author Daniel Furze
 *
 * @todo Implement list item styles.
 */
 li {
 }
