/**
 * Layout
 *
 * Base layout styles.
 *
 * @since 1.0.0
 * @author Daniel Furze
 */

/**
 * Inner
 *
 * Silent placeholder to extend
 *
 * @since 1.0.0
 * @author Daniel Furze
 */
 %inner {
  @extend %col--10-of-12;
  @extend %push--1;
  @extend %clearfix;

  padding-right: $global-padding / 2;
  padding-left: $global-padding / 2;

  @include MQ(S) {
    padding-right: $global-padding;
    padding-left: $global-padding;
  }
}

/**
 * Inner small
 *
 * Silent placeholder to extend
 *
 * @since 1.0.0
 * @author Daniel Furze
 */
 %inner--small {
  @extend %col--6-of-12;
  @extend %push--3;

  padding-left: $global-padding / 2;
  padding-right: $global-padding / 2;

  @include MQ(S) {
    padding-left: $global-padding;
    padding-right: $global-padding;
  }
}

/**
 * Inner
 *
 * CSS selector
 *
 * @since 1.0.0
 * @author Daniel Furze
 */
 .inner {
  @extend %inner;
}

/**
 * Group
 *
 * CSS selector, extends clearfix placeholder
 *
 * @since 1.0.0
 * @author Daniel Furze
 */
.group {
  @extend %clearfix;
}
