/**
 * Headings
 *
 * Sets sizes on base heading elements, 
 * as well as defining CSS classes for said sizes to style according to size using a semantically correct element,
 * and placeholders if the sizing itself needs to be extended silently.
 *
 * Depends on setup/variables.
 *
 * Contents:
 *    =Placeholders
 *    =Base Elements And Heading Classes
 */

//=Placeholders
// So they can be extended silently on to any element.

%heading-base {
  font-weight: normal; //Set to normal so <strong> can be used within headings
  margin-top: 0;
  text-rendering: optimizeLegibility;
  //Using [text-rendering: optimizeLegibility] only on headings as if used globally this could impact performance
  //See also [https://developer.mozilla.org/en-US/docs/Web/CSS/text-rendering]
}

%heading--mega {
  @extend %heading-base;
  @include font-size(5rem)
}

%heading--alpha {
  @extend %heading-base;
  @include font-size(3.75rem)
}

%heading--beta {
  @extend %heading-base;
  @include font-size(3.5rem)
}

%heading--gamma {
  @extend %heading-base;
  @include font-size(3.25rem)
}

%heading--delta {
  @extend %heading-base;
  @include font-size(3rem)
}

%heading--epsilon {
  @extend %heading-base;
  @include font-size(2.5rem)
}

%heading--zeta {
  @extend %heading-base;
  @include font-size(2rem)
}

//=Base Elements And Heading Classes
.heading--mega {
  @extend %heading--mega;
}

h1,
.heading--alpha, {
  @extend %heading--alpha;
}

h2,
.heading--beta {
  @extend %heading--beta;
}

h3,
.heading--gamma {
  @extend %heading--gamma;
}

h4,
.heading--delta {
  @extend %heading--delta;
}

h5,
.heading--epsilon {
  @extend %heading--epsilon;
}

h6,
.heading--zeta {
  @extend %heading--zeta;
}
