 /**
 * Type
 *
 * Additional type sizing.
 * Defines CSS classes to add to elements for font sizing,
 * and placeholders if the sizing itself needs to be extended silently.
 *
 * @since 1.0.0
 * @author Daniel Furze
 */

/**
 * Individual type placeholders to be extended silently on to any element.
 *
 * @since 1.0.0
 * @author Daniel Furze
 */
 %type--eta {
  @include font-size($base-font-size);
}

%type--theta {
 @include font-size(12px);
}

/**
 * Attaching styles to base elements and element selectors.
 *
 * @since 1.0.0
 * @author Daniel Furze
 */
 p,
 .type--eta {
  @extend %type--eta;
}

small,
.type--theta {
  @extend %type--theta;
}

/**
 * Paragraph with list/preformatted code.
 *
 * Removes margin between paragraph and ordered/unordered lists when they're placed together.
 *
 * @since 1.1.0
 * @author Daniel Furze
 */
 p {
  + ul,
  + ol,
  + pre {
    margin-top: 0;
  }
}

/**
 * Abbreviation
 *
 * Sets abbreviations to sans serif, small caps and gives interactivity state when they have a title.
 *
 * @since 1.1.0
 * @author Daniel Furze
 */
 abbr {
  font-family: $font-family-sans-serif;
  font-variant: small-caps;
  text-transform: lowercase;

  &[title] {
    border-bottom: 1px dotted;
    cursor: pointer;
  }

  .touch & {
    // Class added to <html> by Modernizr
    // Show for touch screens - without the ability to hover
    &::after {
     border-bottom: none;
     content: '(' attr(title) ')';
     font-size: .75em;
     padding-left: .5em;
   }
 }
}
