---
title: Blog - Page 3
pageClass: page-blog
---

{{#extend "layout-page"}}
  {{#content "page-header"}}
    {{>banner-blog}}
  {{/content}}

  {{#content "page-content"}}
    <ul class="articles-list">
      {{#each posts.page2}}
       {{#unless unpublished}}
            {{>blog-link this}}
          {{/unless}}
      {{/each}}
    </ul>

    <nav class="articles-pagination">
      <ul class="list-unstyled">
        <li class="prev"><a href="/blog">&larr; Prev</a></li>
        <li class="next"><a href="/blog/3">Next &rarr;</a></li>
      </ul>
    </nav>
  {{/content}}
{{/extend}}
