---
pageClass: page-post
title: Bash profile shortcuts.
category: Tips
pubDate: '4th Jul, 2014'
bannerImage: '1440x785.gif'
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
I wrote <a href="https://gist.github.com/furzeface/60406a88026f856ce73f" target="_blank">this Gist</a> a while ago and it came in handy last week when I was showing a colleague some handy shortcuts to add to his .bash_profile - so here it is.
{{/content}}


{{#content "post-content"}}
<h2>The Gist:</h2>

<div data-gist="60406a88026f856ce73f"></div>
{{!-- <script src="https://gist.github.com/furzeface/60406a88026f856ce73f.js"></script> --}}

<h2>To use these:</h2>
<p>Open a terminal window and type <code>open -e ~/.bash_profile</code> to open the file in your Mac's default text editor.</p>

<p>Add the first two shortcuts, then save and exit.</p>

<p>Type <code class="inline">source ~/.bash_profile</code> to reload it, then you can use the shortcuts <code class="inline">editBash</code> to add in the other shortcuts and <code class="inline">reloadBash</code> to reload it afterwards.</p>
{{/content}}


{{#content "post-tldr"}}
<p>Bash profile shortcuts are dead handy. Here are some cool ones I use.</p>
{{/content}}

{{/extend}}
