---
pageClass: page-post
title: BEM-up-your-variables
pubDate: 18th Oct, 2014
category: Work
published: false
tags:
- sass
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
BEM up your variables
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos impedit dolor eligendi, excepturi nulla necessitatibus inventore labore blanditiis. Obcaecati ex recusandae incidunt reiciendis vel expedita rerum itaque, impedit. Fugiat, itaque.
{{/content}}


{{#content "post-content"}}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem fugit quas, rerum unde sapiente nobis saepe eveniet animi veniam soluta, repellendus quam corporis doloribus similique aspernatur laudantium facilis deleniti nostrum!</p>
<code>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur illo sint repudiandae dolores. Alias rerum cum porro ipsum repellendus placeat impedit, neque sequi quo vero id autem voluptate, aspernatur, molestias?</code>
{{/content}}


{{#content "post-tldr"}}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, officia blanditiis, esse distinctio rerum ullam voluptas unde quibusdam architecto quo explicabo non laborum labore facere natus nam nulla numquam maiores?</p>
{{/content}}

{{/extend}}
