---
pageClass: page-post
title: Christmas at Codeweavers
pubDate: 17th Dec, 2013
category: Work
tags:
- fun
- work
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
<p>This December at Codeweavers I was tasked with making a fun little 12 Days of Christmas calendar to give away presents in the run up to Christmas to current and prospective clients.</p>
{{/content}}


{{#content "post-content"}}
<h2>On the first day of Christmas&hellip;</h2>
<p>As this project is a bit of fun and I’ve been doing it in a bit of spare time, I thought it was a good chance to use some funky new progressive CSS3 techniques to bring the calendar to life.</p>
<figure>
  <a href="http://labs.furzeface.com/Codeweavers12DaysOfChristmas">
    <img src="http://static.furzeface.com/img/blog/26/CW12DoC_day.jpg" alt="Codeweavers 12 Days of Christmas in day time" />
  </a>
  <figcaption>12 Days of Christmas, by day&hellip;</figcaption>
</figure>

<h2>Some fun things I did were:</h2>
<ul>
  <li>Dynamically load only the current and past day’s content into the page (server-side, so no peeking!)</li>
  <li>Only allow the window of the current day to open and show the lightbox with content in. <small>[Edit] this has been changed at the request of <em>The Bouse</em> now Christmas is over</small></li>
  <li>Change the theme to night after 5pm (dark sky, different coloured logos)</li>
  <li>CSS 3D transforms to open the calendar windows</li>
  <li><a href="http://www.w3.org/TR/css3-transforms/#perspective-property">CSS Perspective</a> on the calendar to allow the calendar windows to peek open at different angles</li>
  <li>A little bit of Modernizr to help cope with legacy browsers!</li>
  <li>Falling snow! Courtesy of <a href="http://www.schillmania.com/projects/snowstorm">Mr Scott Schiller</a></li>
  <li>Dynamic favicon based on the day! Kudos to <a href="http://remysharp.com/2010/08/24/dynamic-favicons">Remy Sharp for the initial idea on this</a></li>
</ul>

<figure>
  <a href="http://labs.furzeface.com/Codeweavers12DaysOfChristmas">
    <img src="http://static.furzeface.com/img/blog/26/CW12DoC_night.jpg" alt="Codeweavers 12 Days of Christmas by night" />
  </a>
  <figcaption>&hellip;and by night!</figcaption>
</figure>
{{/content}}


{{#content "post-tldr"}}
<p>Go check out the <a href="http://labs.furzeface.com/Codeweavers12DaysOfChristmas">Codeweavers 12 Days of Christmas</a> and tell me what you think in the comments below.</p>
{{/content}}

{{/extend}}
