---
pageClass: page-post
title: Domain forwarding with AWS
pubDate: November 25th, 2014
category: Tutorials
tags:
- AWS
- Hosting
published: false
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
I’ve recently been moving a lot of my work over to <abbr title="Amazon Web Services">AWS</abbr> and found it tricky to set up any kind domain forwarding. Here’s how to do it.
{{/content}}


{{#content "post-content"}}

{{/content}}


{{#content "post-tldr"}}
<p class="todo">@todo Write Domain forwarding with AWS post TLDR</p>
{{/content}}

{{/extend}}
