---
pageClass: page-post
title: Don’t be scared of open source
category: Speaking
pubDate: 12th June, 2015
tags:
- speaking
- open-source
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
My slides from <a href="http://manchestertechnights.org/9">Manchester Tech Nights #9</a>.
{{/content}}

{{#content "post-content"}}
<p>I was fortunate enough to be chosen to present my first lightening talk, at <a href="http://manchestertechnights.org/9">Manchester Tech Nights</a>.</p>
<p>I spoke about overcoming the apprehension of getting started in open source, something I’ve been <a href="http://opensource.com/life/15/2/5-beginners-open-source-share-thoughts" rel="external">interviewed on</a> before and am passionate about.</p>
<p>Here are the slides from the night:</p>

<iframe src="//www.slideshare.net/slideshow/embed_code/key/EVbRCE8Qw9q5u2" width="700" height="425" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/furzeface/dont-be-scared-of-open-source" title="Don’t be scared of open source!" target="_blank">Don’t be scared of open source!</a> </strong> from <strong><a href="//www.slideshare.net/furzeface" target="_blank">Daniel Furze</a></strong> </div>

<p>Big thanks to the organisers Chris and Michael, and sponsors <a href="http://www.mccannmanchester.com" rel="external">McCann Manchester</a> - everyone had a great time!</p>
{{/content}}

{{#content "post-tldr"}}
<p>My slides from <a href="http://manchestertechnights.org/9">Manchester Tech Nights #9</a>. What a great night it was!</p>
{{/content}}

{{/extend}}
