---
pageClass: page-post
title: Don’t be an imposter
pubDate: November 5th, 2014
category: Personal
tags:
- personal
- geekmentalhelp
- advice
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
Inspired by <a href="http://geekmentalhelp.com" rel="external">Geek Mental Help Week</a>, I wanted to sum up my thoughts on Imposter Syndrome and on trying to overcome it on a daily basis.
{{/content}}


{{#content "post-content"}}
<h2>On Imposter Syndrome</h2>
<p>Our old friend <a href="http://en.wikipedia.org/wiki/Impostor_syndrome" rel="external">Wikipedia</a> can do a far better job than me, summing up Imposter Syndrome as:</p>
<blockquote>
  A psychological phenomenon in which people are unable to internalize their accomplishments. Despite external evidence of their competence, those with the syndrome remain convinced that they are frauds and do not deserve the success they have achieved.
</blockquote>

<h2>My thoughts</h2>
<p>I think that most people have suffered or will suffer from this at some point in their life and career - even if it’s just the odd day when you’re on a bit of a downer and not feeling particularly proud of what you do and the work you’ve done.</p>
<p>I also believe that in an industry such as our own, a lot of our fellow developers you’ll find are <a href="http://en.wikipedia.org/wiki/Extraversion_and_introversion#Introversion" rel="external">introverts</a> by nature - the more quiet, somewhat solitary types.</p>

<h3>Sweeping generalisation over&hellip;</h3>
<p>I myself often suffer from Imposter Syndrome with regard to my work a lot of the time. I’ll find myself not easily able to accept praise, using one of my stock <em>“Aw, shucks&hellip;”</em> phrases:</p>
<ul>
  <li><em>“It was nothing”</em></li>
  <li><em>“Nah, it’s not that good”</em></li>
  <li><em>“This is stupid but&hellip;”</em></li>
  <li><em>“This is just a bit of rubbish, but&hellip;”</em></li>
</ul>
<p>when talking about my own work and attempting to shun praise coming my way.</p>

<h2>Imposters on the web</h2>
<p>It’s inevitable in our industry that we’ll suffer this feeling from time to time. I think that the fast-paced environments that a lot of us work in, the absolute genius colleagues we have and the rapidly changing technologies that we work with every day can sometimes leave us feeling like we’re not good enough, don’t work hard enough, don’t know enough about the latest super awesome framework-library-plugin-language.</p>
<p>Things like these often contribute to my unjustified feelings of unworthiness but I’ve been trying lately to change my mindset. I’ve been taking a step back from my work and appreciating it through the eyes of someone who genuinely finds it interesting and not as my tired-of-seeing-it, bored-of-it self.</p>
<p>Don’t get me wrong, I get praised often and I’m not ungrateful - it’s just hard to accept it all of the time!</p>

<h2>Overcoming</h2>
<p>A trick I’ve learned is to <strong>put yourself in the position</strong> of the praiser <small>(is that a word?)</small> and imagine how it would feel to be giving someone enthusiastic, positive feedback and being <strong>shot down and dismissed</strong> as if your opinion of the praisee <small>(word?)</small> is totally <strong>wrong and ridiculous</strong>! {{emoji 'angry'}}</p>

<p>This may be a little over the top but it makes sense to me. If you shun and hide away from praise you’re essentially offending the person trying their best to be nice to you and telling them that they’re wrong.</p>
<p>And they probably won’t try and praise you again.</p>

<p>There are other tips of course and many other authors have written on the subject but my trick helps me on an almost everyday basis. It helps me step back and think of my work from a new perspective, be proud of it and use one of my stock <em>“Ahh, yeah actually”</em> phrases instead:</p>
<ul>
  <li><em>“Actually, I’m proud of that!”</em></li>
  <li><em>“I guess it is pretty good you know”</em></li>
  <li><em>“You know what? I quite like that”</em></li>
  <li><em>“Thank you very much!”</em> <small>(a good one to remember)</small></li>
</ul>

<p>Try and think like this, and use these kind more every day and you’ll begin to get more into the mindset of someone who can be happier and proud of what they do. And remember to <a href="http://sendamessage.to/EVERYONE/T" rel="external">praise others too!</a> {{emoji 'smile'}}</p>
{{/content}}


{{#content "post-tldr"}}
<p><a href="http://en.wikipedia.org/wiki/Impostor_syndrome" rel="external">Imposter Syndrome</a> impacts almost everyones lives at some point, but I’ve shared a way of thinking on how I deal with these feelings on an almost daily basis.</p>
<p>I <em>quite like</em> this post actually!</p>
{{/content}}

{{/extend}}
