---
pageClass: page-post
title: Dribbble invites.
category: Play
pubDate: '23rd Apr, 2014'
bannerImage: '1440x785.gif'
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
I have the pleasure of inviting two new people to join the Dribbble community!
{{/content}}


{{#content "post-content"}}
<figure><img src="http://daniel.furzeface.com/themes/furzeface_v2/img/placeholder.png" data-src="http://static1.furzeface.com/img/blog/43/dribbble_invite.jpg" alt=""/>
<figcaption>Gimme your best shot for a Dribbble invite!</figcaption>
</figure>
<p>No messing around here, no time limit or anything, no need to follow me on all social networks and compliment everything that I do etc :P</p>
<p>Just send me a link to your work and your account either on <a href="http://dribbble.com/furzeface">Dribbble</a> or to my email at <a href="mail:daniel@furzeface.com">daniel@furzeface.com</a> and I'll pick the first 2 Dribbble-worthy people!</p>
{{/content}}


{{#content "post-tldr"}}
<p><a href="http://dribbble.com/furzeface">Dribbble</a> is pretty ace! Send me a link to your work and I'll pick a couple of ace designers to join the community :)</p>
{{/content}}

{{/extend}}
