---
pageClass: page-post
title: Five simple steps collection four review
category: Reviews
pubDate: 6th Nov, 2013
tags:
- reviews
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
Here is my fourth set of mini reviews of the 5 Simple Steps pocket collection.
{{/content}}


{{#content "post-content"}}
<figure>
  <img src="http://static.furzeface.com/img/blog/20/small/front_end_style_guides_cover.png" alt="Front-End Styles Guides cover" />
  <figcaption>Front-End Style Guides</figcaption>
</figure>
<h2>Front-End Style Guides</h2>
<p>The first one I got into from this collection was <strong><a href="http://www.fivesimplesteps.com/products/front-end-style-guides" target="_blank">Front-End Style Guides</a></strong> by Anna Debenham.</p>
<p>Now the reason I was excited to get into this one right away was the fact that I'm currently working on a pretty big front-end project collaborating with a friend of mine, and it'll be a project that goes on for a while. We actually started implementing an interactive style guide a couple of weeks ago for us to both add components to and adhere to whilst developing.</p>
<p>This book is ideal for someone like me just having a first go at this sort of thing and the detail the author goes into about the different types of style guide that you can create quite helped me redefine mine. It also makes me want to spend time going back and creating style guides for a few projects at my day job, but alas we'll never have the time to go back and do it!</p>

<blockquote class="pullquote">Presenting a living style guide or a pattern portfolio will be a great way to present work in progress.</blockquote>

<p>But they are incredibly useful tools and this book shows that as a resource for designers, initial developers and those who go on to pick up a project after launch to maintain it. I'll be spending some time creating a boilerplate style guide for all my personal projects from now and a bespoke one for each website I make.</p>
<p>Another thing I enjoyed about this book is the vast amount of amazing resources it offers links to such as MailChimp's <a href="http://voiceandtone.com/" target="_blank">Voice &amp; Tone</a>, the <a href="http://www.lime-management.com/app_themes/limemanagementuk/resources/brand_guidelines.pdf" target="_blank">British Airways style guide</a> and <a href="http://mezzoblue.com/downloads/markupguide/" target="_blank">Dave Shea's style guide</a> - all of which I had to leave the book for a good while and pore over each guide.</p>
<p>Reading the chapter on pattern primers/portfolios has also now changed the way I've begun to think about presenting mockups to clients - something I tend to stay away from going into too much detail on, preferring a static design or two and then moving swiftly on to an interactive HTML/CSS mockup. Presenting a living style guide or a pattern portfolio will be a great way to present work in progress to a client and I'll certainly be trying it from now on.</p>
<p>I may be putting a style guide for this site and my new aforementioned project online in the near future, so I'll link back to it here.</p>
<figure id="international-user-research">
  <img src="http://static.furzeface.com/img/blog/20/small/international_user_research_cover.png" alt="International User Research cover" />
  <figcaption>International User Research</figcaption>
</figure>
<h2>International User Research</h2>
<p>The next book I read in this collection was <strong><a href="http://www.fivesimplesteps.com/products/international-user-research" target="_blank">International User Research</a></strong> by Chui Chui Tan.</p>
<p>Now I must admit that when I first saw this book I wasn't sure how it would apply to me and my current work. However I decided to give it a try as in the past I've found with a lot of these awesome Five Simple Steps books I've often thought that and be amazed by how they turned out.</p>

<blockquote class="pullquote">The methods detailed later on in the book would definitely prove valuable to anyone undertaking this type of research.</blockquote>

<p>Throughout this pocket guide I learned a lot about website usage in a variety of countries all around the world and it was very interesting, especially learning how Asian culture and values impacts usage. The author shows some examples of Chinese taxi service mobile apps which I thought were really intriguing - they've really got it right over there.</p>
<p>Chui Chui Tan then goes on to banish some myths about how Asian users interact with websites and why - also providing a link to a detailed presentation on the subject which I again had to skip out of the book for a while to read!</p>
<p>The methods detailed later on in the book would definitely prove valuable to anyone undertaking this type of research and really made me want a chance to do something like this. Unfortunately at present I don't have this opportunity but still enjoyed reading through the advice and resources given.</p>

<figure>
  <img src="http://static.furzeface.com/img/blog/20/small/experiments_for_designers_cover.png" alt="Experiments for Designers cover" />
  <figcaption>Experiments for Designers</figcaption>
</figure>

<h2>Experiments for Designers</h2>
<p>Recently I've been getting quite into usability studies and methods of experimenting with user interaction so this <a href="http://www.fivesimplesteps.com/products/experiments-for-designers" target="_blank">Pocket Guide to Experiments for Designers</a> seemed like an apt choice to begin with when I was notified that the second part of the five simple steps collection four was released.</p>
<p>As soon as I saw the first chapter, entitled "Experiments using A/B tests", I knew that this book would give me some valuable insights on user testing as I'd wanted to try out Google's A/B testing tool on one of our apps at work when I get the chance.</p>
<p>This initial chapter offers an explanation of this form of test and explains clearly with the use of case studies how useful it can be and summarises its uses along with giving valuable resources for further reading on the subject&hellip;bookmarked!</p>
<p>Colin McFarland goes on to spark confidence in the usage of testing experiments in the reader and urges them to continue and find out what they can offer to designers and why we should start using them straight away, stating: </p>

<blockquote class="pullquote">I believe that to discover the value of new and innovative ideas, designers should follow their curiosity and intuition: create experiments, be open to failure and iterate quickly.</blockquote>

<p>An inspiring mantra that I could easily stick up on my board at work.</p>
<p>Following this, the author shows the mindset that we as designers should take in order to be successful in implementing user experiments and fleshes out quotable key points that again I should probably write on flash cards for my board in order to drill them in and constantly keep them in mind!</p>
<p>One of my favourite analogies from this book is the <em>Desire Paths</em> story - something that I notice and find curious all the time in the world around me.</p>
<p>Again the author reaffirms his ideas with high profile case studies, showing the reader the true value of the experiments undertaken before moving on to giving a robust framework for us to use and follow.</p>
<p>I especially appreciate the section on timeframes which will hopefully help me to convince management to allow time for user testing and show how valuable it can be, even if only one day per month is dedicated to it!</p>
<p>Colin closes the pocket guide with a chapter on the implications for designers, to show that testing won't magically fix problems but should be utilised as a method to improve the broader goals of a product, and ends with some great advice for us. <small>I won't ruin the end - buy it!</small></p>
{{/content}}


{{#content "post-tldr"}}
<p>I enjoyed the first part of this collection and hope that Five Simple Steps keep bringing them out!</p>
<p>Rather than go on any more about all of these books I urge you to go and buy the collection for the very reasonable price at <a href="http://www.fivesimplesteps.com" target="_blank">Five Simple Steps</a> right now!</p>

<h3>Read more</h3>
<p>See my posts on the:</p>
<ul>
  <li><a href="http://daniel.furzeface.com/blog/five-simple-steps-review-collection-three">Third Five Simple Steps collection</a></li>
  <li><a href="http://daniel.furzeface.com/blog/five-simple-steps-review-collection-two">Second Five Simple Steps collection</a></li>
  <li><a href="http://daniel.furzeface.com/blog/five-simple-steps-review-part-one">First Five Simple Steps collection</a></li>
</ul>
<p>For more little reviews of little books!</p>
{{/content}}

{{/extend}}
