---
pageClass: page-post
title: Five simple steps collection two review
category: Reviews
pubDate: 21st Sep, 2013
tags:
- reviews
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
I've been reading the series of pocket guides published by 5 Simple Steps. Here's some mini reviews of the next collection in the series.
{{/content}}


{{#content "post-content"}}
<h2>Five Simple Steps Collection Two</h2>
<figure>
  <img src="http://static.furzeface.com/img/blog/13/small/usability_of_web_photos_cover.png" alt=" Usability of Web Photos cover" />
  <figcaption>Usability of Web Photos</figcaption>
</figure>
<h2>Usability of Web Photos</h2>
<p><strong><a href="http://www.fivesimplesteps.com/products/usability-of-web-photos" rel="external">Usability of Web Photos</a></strong> by James Chudley was the first of the second 5 Simple Steps collection that I read. </p>

<p>Images are one of the most prominent features of any website and a lot of consideration goes in to them with regards to performance but not as much, I find, into what the images actually are. </p>

<p>I’ve also been guilty of this in the past, and on a recent client site that will remain anonymous this definitely applies to the person responsible for some of the image choices there! </p>

<p>The further I got with this book (as with some of the others) the more guilty I felt of committing the crimes(!) that James mentions that can contribute towards poor usability when images are chosen to represent a product or service on a website and the more I read, the more it made sense and I wanted to implement some of his methods – and use his framework for choosing good photos.</p>


<figure>
  <img src="http://static.furzeface.com/img/blog/13/small/interviewing_for_research_cover.png" alt=" Interviewing for Research cover" />
  <figcaption>Interviewing for Research</figcaption>
</figure>
<h2>Interviewing for Research</h2>
<p><strong><a href="http://www.fivesimplesteps.com/products/interviewing-for-research" rel="external">Interviewing for Research</a></strong> by Andrew Travers was one that I really wanted to get into when I first started reading the 5 Simple Steps books as it’s one that I can directly start using the ideas from when talking with prospective clients – something I intend to do more and more of in the near future.</p>

<p>It gives tips on how to be confident when researching and communicating with clients and I’ll be referring back to this book, keeping it by my side when I write a new pre-proposal client questionnaire pretty soon. </p>

<figure>
  <img src="http://static.furzeface.com/img/blog/13/small/html_email_cover.png" alt="HTML Email cover" />
  <figcaption>HTML Email</figcaption>
</figure>
<h2>HTML Email</h2>
<p><strong><a href="http://www.fivesimplesteps.com/products/html-email" rel="external">HTML Email</a></strong> by Andy Croll. Now this book was very useful for work, as I knew that I had an upcoming task to create a bespoke HTML email template for a client. </p>

<p>As most developers probably do, I dread the time when a request such as this comes in – creating HTML emails is like going back in time to when I first started coding, taking away half of the tools that I’d usually have available and asking me to undertake the testing whilst half asleep!</p>

<p>This book understands that and gives instructions and guidelines on how to create your email template from the ground up, progressively enhancing all the features that you can for users of more modern email clients. This is definitely the way it should be done, but how many times have we come to do this and reverted back to sloppy, ‘hack it in’ code just to get the HTML to render ‘sort of’ how we want? </p>

<p>The case study is very good – Andy really knows his stuff – and I followed some of these steps whilst undertaking my task at work and ended up with a template I was happy with. </p>

<figure>
  <img src="http://static.furzeface.com/img/blog/13/small/combining_typefaces_cover.png" alt=" Combining Typefaces cover" />
  <figcaption>Combining Typefaces</figcaption>
</figure>
<h2>Combining Typefaces</h2>
<p>By the time I got to <strong><a href="http://www.fivesimplesteps.com/products/combining-typefaces" rel="external">Combining Typefaces</a></strong> by Tim Brown, I admit that I’d already purchased all of the 5 Simple Steps books and accidentally skipped ahead a few (they’re not actually in any order by the way) and somehow mislaid this book.</p>

<p>When I got round to reading it though I was intrigued as to whether or not it could offer any advice and help to me – choosing fonts and typography is probably one of the skills I lack in most and would like to improve.</p>

<p>After reading it I still have a lot to learn about type but I now have the introduction I needed and the encouragement to pursue this subject. </p>

<p>In my opinion the book was very heavily focused on Typekit (for obvious reasons) and I’d have liked to have seen more references to other services and open fonts around but overall it was a great insight into a part of design that as I said I’m not overly comfortable with.</p>
{{/content}}


{{#content "post-tldr"}}
<p>The second collection of <a href="http://www.fivesimplesteps.com/" rel="external">5 Simple Steps</a> books was just as good as the first and I can't wait to get started on the rest!</p>

<p>See my post on the <a href="http://furzeface.com/blog/five-simple-steps-review-part-one">first Five Simple Steps collection</a> for more little reviews of little books!</p>
{{/content}}

{{/extend}}
