---
pageClass: page-post
title: Five simple steps collection three review
category: Reviews
pubDate: 8th Oct, 2013
tags:
- reviews
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
Here is my third and final (until they release more!) set of mini reviews of the 5 Simple Steps pocket collection series.
{{/content}}


{{#content "post-content"}}
<h2>Five Simple Steps Collection Three</h2>
<figure>
  <img src="http://static.furzeface.com/img/blog/15/small/colour_accessibility_cover.png" alt="Colour Accessibility cover" />
  <figcaption>Colour Accessibility</figcaption>
</figure>

<h2>Colour Accessibility</h2>
<p>The first one I grabbed straight away from this collection was <strong><a href="http://www.fivesimplesteps.com/products/colour-accessibility" target="_blank">Colour Accessibility</a></strong> by Geri Coady.</p>
<p>This interested me a lot as I have a couple of slightly colour blind colleagues and I always wonder how it is for them to work in design with different levels of colour blindness and I've also wanted to know what I can do when designing to potentially help colour blind users of the web.</p>
<p>First off it was good to learn about the different kinds of colour blindness - something I've only very briefly looked into and also learn how common it is in the general public.</p>
<p>After teaching about this the book then goes on to show simple ways we as web designers can make people with colour defective vision's lives a little easier and after reading it I see no reason not to! In future projects I'll be keeping these techniques in mind as they show ways to tweak your work without sacrificing the aesthetics of a lovely design.</p>
<p>I especially enjoyed the part of the book that uses the London Underground map as an example because I think it's a key example of how an iconic product used by millions of people every year can be tweaked just slightly to make it easier for quite a high percentage of those people who may have a form of colour blindness.</p>
<p>The author then goes on to give some very useful resources for testing your site - viewing through emulators of the different kinds of colour blindness - which I did to some of my sites straight away.</p>
<p>A final piece of advice from Geri is to provide alternative views to your sites such as interchangeable colour schemes and contrasting stylesheets, which I may have a go at implementing on a site in the near future!</p>

<figure>
  <img src="http://static.furzeface.com/img/blog/15/small/the_craft_of_words_microcopy_cover.png" alt="The Craft of Words, Part 2 - Microcopy cover" />
  <figcaption>The Craft of Words, Part 2 - Microcopy</figcaption>
</figure>
<h2>The Craft of Words - Microcopy</h2>
<p><strong><a href="http://www.fivesimplesteps.com/products/the-craft-of-words-microcopy" target="_blank">The Craft of Words, Part 2 - Microcopy</a></strong> by The Standardistas.</p>
<p>I'd been looking forward to this book since finishing the first part of The Craft of Words <a href="http://daniel.furzeface.com/blog/five-simple-steps-review-collection-two">(see my post on that book)</a>, and I was curious to see how this part would add to and complement what I'd learned from the first.</p>
<p>It didn't disappoint! The authors tell how using the right wording in the smallest places can help enhance a journey and reassure users of the ease of use of your product by showing that you care in every little aspect of your website copy.</p>
<p>It makes sense to me to use this in practise as tying together all parts of the user experience makes for a happy user, obviously! Which in turn will lead to satisfied customers and ultimately more sales of your product.</p>
<p>Throughout the book examples are given of good and bad usability experiences and how they are or could be enhanced using the techniques outlined by the Standardistas and each one leaves you with an "Ahh yes..." moment - wondering why everyone doesn't do this and why you don't do this and when you can next possibly get to a computer to start doing this!</p>
<p>The attention to detail in the case studies shown is astounding and you know that these guys really know their stuff.</p>
<p>I really liked the example of <a href="https://chocolatapp.com/" target="_blank">Chocolat</a> - a text editor that provides a free trial that upon expiration still allows you to use it's full features but every font within the app changes to Comic Sans! Something that every self-respecting designer will cringe at.</p>

<figure>
  <img src="http://static.furzeface.com/img/blog/15/small/css_animations_cover.png" alt="CSS Animations cover" />
  <figcaption>CSS Animations</figcaption>
</figure>

<h2>CSS Animations</h2>
<p><strong><a href="http://www.fivesimplesteps.com/products/css-animations" target="_blank">CSS Animations</a></strong> by Val Head is another one of the Five Simple Steps books aimed at what's possible with the progressive techniques now becoming standards in web development.</p>
<p>It starts from the ground up showing the basic syntax for writing CSS animations such as naming, keyframes, durations and the transforms and transitions possible, and then goes on to give examples on Codepen so you can see along with the code in the book what the animations look like - as well as editing them to create your own.</p>
<p>Easing has often gone over my head when using animations with jQuery before but the chapter in this book on the subject starts to explain the equations behind them a bit more and the graphical representations help clear up what's actually happening when you implement easing into your CSS animations.</p>
<p>I can't think of any practical uses in my own day to day development for some of these animation techniques but the fourth chapter gives some really nice examples of them in everyday use for enhancement of user interfaces on websites and also a pretty good example of using an <a href="http://5ss.co/CSS-animations/CH04/02_Sprite_Animation_With_Steps/" target="_blank">image sprite to create an animation</a> in CSS!</p>
<p>As expected with the books on enhancement techniques the author's final words are on browser support - pointing to one of my most used resources <a href="http://CanIUse.com" target="_blank">CanIUse.com</a>.</p>
<p>A nice feature of the book is the part in the final chapter regarding performance, showing test cases and proving that CSS animation could render faster and use less memory than a JavaScript substitute. I especially find this interesting as any CSS animations I'd probably use would be for mobile enhancements - the fact that they'll probably be supported on modern mobile browsers and also that it'll use less JavaScript is a no-brainer really!</p>
<p>All of this, used with a few examples I've seen on <a href="http://tympanus.net/codrops/" target="_blank">Tympanus</a>, I'll be keeping in mind when I work on a project I currently have where I'm getting to use a lot of modern progressive enhancement techniques.</p>


<figure>
  <img src="http://static.furzeface.com/img/blog/15/small/design_evolution_cover.png" alt="Design Evolution cover" />
  <figcaption>Design Evolution</figcaption>
</figure>
<h2>Design Evolution</h2>
<p><strong><a href="http://www.fivesimplesteps.com/products/design-evolution" target="_blank">Design Evolution</a></strong> by Josh Long. I <em>may</em> be in the process of designing a personal project that this next book applies to (hush hush...!) so when I opened it up I was keen to see what advice it could give me on the overall design evolution of a product.</p>
<p>The first chapters delves into breaking down a business and idea into small models to define what exactly it is you want to do and create in order to improve it in small steps, thus refining the entire product.</p>
<p>Next there is a quote that I really like from Antoine de Saint-Exupéry: <em><strong>"Perfection is achieved not when there is nothing more to add, but when there is nothing left to take away"</strong></em> - a quote I've heard many times before and rings true to me. The second chapter talks about how to practically do this and really encourages the reader to refine their idea in order to provide their core service or product at the best possible level.</p>
<p>I'm not sure if it's applicable only to me as I'm in this situation developing a product or if these things are applicable to everyone but as I got more and more into the book I found myself taking notes from every page of this great advice for future reference! The author puts the reader at ease by giving examples of his favourite companies putting these ideas into practise.</p>
<p>The fourth simple step in this pocket guide is about marketing and advertising - something I have a somewhat little amount of real world experience in and the chapter is very useful in defining the best ways to get word of a product out into the market.</p>
<p>Finally there is advice on how to grow through your product, constantly improving and enhancing after feedback and it gave me some great ideas. I think in a month or so I'll be revisiting this very useful guide and the examples shown to apply to my own work!</p>
{{/content}}


{{#content "post-tldr"}}
<p>Every single book in the <a href="http://www.fivesimplesteps.com/" target="_blank">5 Simple Steps</a> pocket guides collection was amazing.</p>
<p>I'd definitely recommend buying them all at the very agreeable price of around £2-3 per book or £6-£8 per collection.</p>
<p>I'll be keeping them on my desk (on my tablet) for the foreseeable future to constantly refer back to and I'll even be creating opportunities myself to work with some of these techniques.</p>

<p>See my posts on the <a href="http://daniel.furzeface.com/blog/five-simple-steps-review-collection-two"> second Five Simple Steps collection</a> or the <a href="http://daniel.furzeface.com/blog/five-simple-steps-review-part-one">first Five Simple Steps collection</a> for more little reviews of little books!</p>
{{/content}}

{{/extend}}
