---
pageClass: page-post
title: Five simple steps collection one review
category: Reviews
pubDate: 12th Sep, 2013
tags:
- reviews
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
Part one of my little reviews of the Five Simple Steps collection of pocket guides.
{{/content}}


{{#content "post-content"}}
<p>I've recently been reading the series of pocket guides published by <a href="http://www.fivesimplesteps.com/" target="_blank">5 Simple Steps</a>. All of these are available digitally for around £2-3 each / £7-8 per set.</p>

<p>I actually found them incredibly useful and really easy to read, so over the next few weeks I'll sum up my thoughts on each collection. In the spirit of the brief concise guides I am talking about, I will keep my reviews bitesize and to the point!</p>

<h2>Five Simple Steps Collection One</h2>
<figure>
  <img src="http://static.furzeface.com/img/blog/11/small/css3_layout_modules_cover.png" alt="The cover of CSS3 Layout Modules" />
  <figcaption>CSS3 Layout Modules</figcaption>
</figure>
<h2>CSS3 Layout Modules</h2>
<a href="http://www.fivesimplesteps.com/products/css3-layout-modules" target="_blank">CSS3 Layout Modules</a> by Rachel Andrew was the first book out of the set I chose to read as I could remember a talk on the subject from Canvas Conference last year which I found very interesting.

<p>The book goes into detail about:</p>
<ul>
  <li><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Using_multi-column_layouts" target="_blank">Multi Column Layout</a></li>
  <li><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Flexible_boxes" target="_blank">Flexbox</a></li>
  <li><a href="http://css-tricks.com/almanac/properties/g/grid/" target="_blank">CSS grid layout</a></li>
  <li><a href="http://dev.opera.com/articles/view/an-introduction-to-css-regions/" target="_blank">CSS Regions</a></li>
  <li><a href="http://css3clickchart.com/#exclusions" target="_blank">CSS exclusions</a></li>
</ul>

<p>I'm obviously not going to go into what they all are so have included links up there to the best demos I can find.</p>
<p>This book was a great way to hear about the newest parts of the CSS spec and after reading this I was left very intrigued, but a little disappointed that I can't use them fully yet! When they are properly implemented I know they'll be so useful in giving us developers more control and variety over the style of content using pure CSS, without losing any semantic value in the markup.</p>

<figure>
  <img src="http://static.furzeface.com/img/blog/11/small/the_craft_of_words_cover.png" alt="The cover of The Craft of Words" />
  <figcaption>The Craft of Words</figcaption>
</figure>
<h2>The Craft of Words</h2>
<p><a href="http://www.fivesimplesteps.com/products/the-craft-of-words" target="_blank">The Craft of Words - Macrocopy</a> by The Standardistas is the next up in my list, and although I wasn't sure it was fully applicable to any projects I have on at the moment, I turned out to be so wrong and this kind of guide can be relevant to anyone, in many industries!</p>
<p>The book tells how many designers aren't fully aware of the impact that the words can have on a design at the early stages and pushes us to think about it in all parts of the process, not overlooking the impact they can have.</p>
<p>Thinking about it - words are obviously the most important part of any finished product so this book tries to drill into you the importance of considering them when designing.</p>
<p>From what I gathered reading this, macrocopy covers the entire tone and voice of an overall brand an image of a company and how they come across to the customer. The book aims at helping us communicate and get our message across through our design, not as an afterthought.</p>

<figure>
  <img src="http://static.furzeface.com/img/blog/11/small/creating_symbol_fonts_cover.png" alt="The cover of Creating Symbol Fonts" />
  <figcaption>Creating Symbol Fonts</figcaption>
</figure>
<h2>Creating Symbol Fonts</h2>
<p><a href="http://www.fivesimplesteps.com/products/creating-symbol-fonts" target="_blank">Creating Symbol Fonts</a> by Brian Suda grabbed my attention as at the time I was doing a lot with symbol fonts at work.</p>

<p>We started using icon fonts a long time ago in place of sprited icons basically as soon as we saw one of our webapps on a retina display iPad! Although this is the case, we have only really used pre made icon sets so far such as <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome</a> and I've used services such as <a href="http://icomoon.io/" target="_blank">Icomoon</a> and <a href="http://fontello.com/" target="_blank">Fontello</a> for personal projects.</p>
<p>Creating Symbol Fonts is a great introduction into what symbol fonts are, why they are awesome and how to implement them, leading on to some interesting ideas about the best, most semantic way to get them into your site, which I really appreciated.</p>
<p>I'd recommend it for anyone who's heard of using symbol fonts but isn't quite sure how to use them or just needs convincing of the many ways in which they can improve your development and ultimately your sites!</p>
<p>I've yet to take the last couple of chapters on board fully by spending the time creating my own symbol font from scratch but I'm keeping this book close for when the opportunity arises - hopefully in a new project soon.</p>

<figure>
  <img src="http://static.furzeface.com/img/blog/11/small/psychology_for_designers_cover.png" alt="The cover of Psychology for Designers" />
  <figcaption>Psychology for Designers</figcaption>
</figure>
<h2>Psychology for Designers</h2>
<p><a href="http://www.fivesimplesteps.com/products/psychology-for-designers" target="_blank">Psychology for Designers</a> by Joe Leech was my favourite of the books so far as right from the start I was drawn in with some of the ideas that I now know that I've consistently overlooked and taken for granted whilst designing and developing.</p>
<p>A quick overview of some main psychological methodologies and some design techniques really persuaded me that I need to do some more thorough research and apply these during my work projects and the book also shows how you can undertake research of your own and find resources to support it when making design decisions.</p>
<p>Although I don't have the time at the moment to further study some of these techniques it did intrigue me and I intend on getting a couple of basic psychology books the next time I'm down the local library as I found the themes in this book so interesting!</p>

<h2>Anyway&hellip;</h2>
<p>All of these books are so handy and as I say I'll be keeping them close to refer back to for a while yet.</p>
<p>I hope this wasn't too in-depth and I kept the reviews short and snappy enough, as these guides were for me!</p>
<p>There will be more in the next few weeks as I get through the rest of the <a href="http://www.fivesimplesteps.com/" target="_blank">5 Simple Steps pocket guides</a>.</p>
{{/content}}


{{#content "post-tldr"}}
<ul>
  <li>The Five Simple Steps books are great little pocket guides full of snippets and concise information on their varying subjects.</li>
  <li>I definitely recommend getting them and at the bargain price of £7ish per set for the ebooks you can't go wrong.</li>
  <li>I'll be keeping them around to refer to very frequently as I work!</li>
</ul>
{{/content}}

{{/extend}}
