---
pageClass: page-post
title: Front end is dead
pubDate: 31st Jan, 2015
category: Front End
tags:
- front-end
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
Stuff
{{/content}}


{{#content "post-content"}}
<h2>Long live front end&hellip;</h2>

<p class="todo">@TODO:</p>

<ul>
  <li>Back in the day&hellip;</li>
  <li>Companies the treat PHP etc as FE</li>
  <li>Full stack WTF???</li>
  <li>Rise of MV* stuff</li>
  <li>Front end build process</li>
  <li>What to learn</li>
  <li>Links to my posts</li>
  <li>Opportunity at BB</li>
</ul>
{{/content}}


{{#content "post-tldr"}}
More stuff
{{/content}}

{{/extend}}
