---
pageClass: page-post
title: London JS Conf 2014 roundup
category: Work
pubDate: 17th Feb, 2014
tags:
- work
- conference
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
A round up of the speakers at LondonJSConf 2014 along with links to their presentations.
{{/content}}


{{#content "post-content"}}
<h2>Round ‘em up!</h2>
<p>I was going to write a nice lengthy blog post the great experience I had at <a href="http://www.londonjsconf.com/">London JS Conf 2014</a> and about all of the talks that I attended, but I went away to Luxembourg and Brussels pretty much straight after the conference (on 3 hours sleep!) and come on, a weekend is a lifetime in the world of blogging!</p>
<figure>
  <img src="http://static.furzeface.com/img/blog/35/london_js_conf_outside.jpg" alt="Outside the Prince Charles cinema for London JS Conf"/>
  <figcaption>Welcome to London JS Conf!</figcaption>
</figure>
<p>So I thought it’d be much better to round up all of the other amazing posts already written by people much quicker and cooler than me, along with links and resources to the speakers and their talks.</p>
<ul>
  <li><a href="#the-speakers">The Speakers</a></li>
  <li><a href="#the-bloggers">The Bloggers</a></li>
</ul>

<h2 id="the-speakers">The Speakers</h2>
<em>The awesome speakers and their talk resources from the day.</em>

<p><strong>Peter-Paul Koch - The Touch Events</p></strong>
<a href="https://twitter.com/ppk">Twitter</a>
<a href="http://quirksmode.org/">Website</a>
<a href="http://quirksmode.org/presentations/Spring2013/touchevents_mobilism.pdf">Slides</a>
<hr>
<p><strong>Hannah Wolfe - Ghost busting: building node apps for the masses </p></strong>
<a href="https://twitter.com/erisds">Twitter</a>
<a href="http://erisds.co.uk/">Website</a>
<hr>
<p><strong>Addy Osmani - Web Components can do that?! </p></strong>
<a href="https://twitter.com/addyosmani">Twitter</a>
<a href="http://addyosmani.com/blog/">Website</a>
<a href="https://speakerdeck.com/addyosmani/londonjs-web-components-can-do-that">Slides</a>
<a href="http://www.polymer-project.org/">Polymer</a>
<hr>
<p><strong>Martin Beeby - The Hitchhiker's guide to TypeScript </p></strong>
<a href="https://twitter.com/thebeebs">Twitter</a>
<a href="http://www.thebeebs.co.uk/">Website</a>
<a href="https://skydrive.live.com/view.aspx?resid=75449D9AF7A50E51!93998&app=PowerPoint&wdo=2">Slides</a>
<hr>
<p><strong>Jake Archibald - Network connectivity: Optional </p></strong>
<a href="https://twitter.com/jaffathecake">Twitter</a>
<a href="http://jakearchibald.com/">Website</a>
<a href="http://www.youtube.com/watch?v=Z7sRMg0f5Hk">Video/Slides</a> - (of the talk, not from London JS Conf)
<hr>
<p><strong>Mairead Buchan - Leap into the unknown: 3D sensing and browser interaction </p></strong>
<a href="https://twitter.com/tiny_m">Twitter</a>
<a href="https://github.com/mairead">GitHub</a> - including the presentation from the talk
<hr>
<p><strong>Tim Messerschmidt - Supercharging Node with Kraken </p></strong>
<a href="https://twitter.com/SeraAndroid">Twitter</a>
<a href="http://timmesserschmidt.com/">Website</a>
<a href="http://www.slideshare.net/PayPal/krakenjs">Slides</a>
<a href="http://krakenjs.com/">Kraken JS</a>
<hr>
<p><strong>Tim Ruffles - Choosing objects, or functions </p></strong>
<a href="https://twitter.com/timruffles">Twitter</a>
<a href="http://truffles.me.uk/">Website</a>
<hr>
<p><strong>Phil Hawksworth - Dynamic Static Site Strategies </p></strong>
<a href="https://twitter.com/philhawksworth">Twitter</a>
<a href="http://hawksworx.com/">Website</a>
<a href="https://speakerdeck.com/philhawksworth/dynamic-static-site-strategies">Slides</a>
<hr>
<p><strong>Ruth John - Make Your Browser Dance </p></strong>
<a href="https://twitter.com/rumyra">Twitter</a>
<a href="http://rumyrashead.com/">Website</a>
<hr>
<p><strong>Joe Pettersson - Security, Auditing and Penetration Testing </p></strong>
<a href="https://twitter.com/joe8bit">Twitter</a>
<a href="http://www.joepettersson.com/">Website</a>
<a href="http://joe8bit.github.io/browser-security-talk/">Slides</a>
<hr>
<p><strong>Remy Sharp - The Bits Behind JS Bin </p></strong>
<a href="https://twitter.com/rem">Twitter</a>
<a href="http://remysharp.com/">Website</a>
<a href="https://speakerdeck.com/rem/the-bits-behind-js-bin">Slides</a>
<hr>
<p><strong>Ben Foxall - Building multi-device interfaces with the web </p></strong>
<a href="https://twitter.com/benjaminbenben">Twitter</a>
<a href="http://benjaminbenben.com/">Website</a>
<a href="http://www.youtube.com/watch?v=a44gzZtxPNs">Video</a>
<hr>
<p><strong>Lea Verou - /Reg(exp){2}lained/ </p></strong>
<a href="https://twitter.com/leaverou">Twitter</a>
<a href="http://lea.verou.me/">Website</a>
<a href="http://leaverou.github.io/regexplained/">Regexplained plaything</a>

<figure>
  <img src="http://static.furzeface.com/img/blog/35/london_js_conf_posters_1.jpg" alt="Some of the London JS Conf 2014 talk posters" class="col span_1_of_2 left" />
  <img src="http://static.furzeface.com/img/blog/35/london_js_conf_posters_2.jpg" alt="Some more of the London JS Conf 2014 talk posters" class="col span_1_of_2 right" />
  <figcaption>The amazing movie themed posters for some of the London JS Conf talks.</figcaption>
</figure>
<h2 id="the-bloggers">The Bloggers</h2>
<em>Some people quicker at writing than me.</em>
<ul>
  <li><a href="http://richardmccartney.co.uk/london-js-conf-2014/">Richard McCartney</a></li>
  <li><a href="http://solidred.co.uk/londonjs2014.html">Howard Yeend</a></li>
  <li><a href="http://blog.mattia-asti.it/london-js-conf-2014/">Mattia Asti</a></li>
</ul>
{{/content}}


{{#content "post-tldr"}}
<ul>
  <li>A list of links and resources to the speakers and their talks from London JS Conf 2014.</li>
  <li>Another list, of other people’s blog posts regarding the talks from the day.</li>
  <li>I’ll keep adding resources and links as I find them</li>
</ul>

<p>If you’d like me to add your post to the list feel free to just shout at me in the comments below.</p>
<p>Thanks organisers of <a href="http://www.londonjsconf.com/">London JS Conf 2014</a>, hopefully see you next year!</p>
{{/content}}

{{/extend}}
