---
pageClass: page-post
title: Make your own iOS 7 icon
category: Work
pubDate: 16th Jul, 2013
tags:
- ios
- fun
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
iOS7 icon generator or what I did whilst waiting for the build&hellip;
{{/content}}


{{#content "post-content"}}
<h2>Waiting for the build to kick in&hellip;</h2>
The other day whilst waiting for the CI server to build I thought I could quickly make a random iOS7 app icon generator to jump on the bandwagon of poking a little bit of fun at some of the newly redesigned iOS7 icons&hellip;

<h2>Here it is</h2>
It took a little longer than 5 minutes obviously but I finished it tonight and you can find it at <a href="http://daniel.furzeface.com/ios-seven-me">iOS7 Icon Generator.</a>

<figure>
  <img src="http://static.furzeface.com/img/blog/4/ios7_me_screenshot.png" alt="" />
  <figcaption>A screenshot of my iOS 7 icon generator</figcaption>
</figure>

<h2>Disclaimer</h2>
<p>To be honest, I like the majority of the iOS redesign, I'm not going to go into it as pretty much everyone has written about everything I ever wanted to say about it, but there's a great article by <a href="http://mattgemmell.com/2013/06/12/ios-7" rel="external">Matt Gemmell</a> that I agree with most of, if you wanted to know.</p>
{{/content}}


{{#content "post-tldr"}}
<ul>
  <li>I made an iOS7 icon generator thingy</li>
  <li>It’s only a bit of fun</li>
  <li>Head over to <a href="http://daniel.furzeface.com/ios-seven-me">iOS7 Icon Generator</a> to have a go!</li>
</ul>
{{/content}}

{{/extend}}
