---
pageClass: page-post
title: My Google Analytics dashboard
category: Analytics
pubDate: 15th Jan, 2014
tags:
- analytics
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
Sharing my Google Analytics cusotm dashboard with the world.
{{/content}}


{{#content "post-content"}}
<p>While we’re on the subject, I thought I’d share my analytics dashboard - it’s a template for the stats and reports I find most useful and check regularly so it may be useful to anyone else using GA.</p>
<p>If you’ve not used or applied a dashboard before, it’s dead easy.</p>
<h2>Applying the dashboard</h2>
<p>Just click the image or link below, sign in to your Google Analytics account and choose a view to apply <em>my</em> dashboard setup to <em>your</em> stats.</p>
<p>Don’t worry, no data is shared of course, just the template.</p>
<figure>
  <a href="https://www.google.com/analytics/web/template?uid=G83wZ0YoTG2V4IGjHQoDqg" target="_blank"><img src="http://static.furzeface.com/img/blog/32/my_google_analytics_dashboard.png" alt="A screenshot of my Google Analytics dashboard"/>
  </a>
  <figcaption>Click to apply my Google Analytics Dashboard</figcaption>
</figure>
{{/content}}


{{#content "post-tldr"}}
<p>Click the above link and use it to apply my custom dashboard to your <a href="http://www.google.com/analytics/">Google Analytics</a> view.</p>
{{/content}}

{{/extend}}
