---
pageClass: page-post
title: My Sass media query mixin
category: Front end
pubDate: 23rd Apr, 2014
bannerImage: 1440x785.gif
tags:
- sass
- tips
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
A gist of my Sass media query mixin. I keep forgetting to upload and share snippets of CSS/Sass with people who ask, so here it is!
{{/content}}


{{#content "post-content"}}
<p>Another little tip, as I keep on finding myself having to dig through code to get this snippet to share with others every now and then!</p>
<h2>The mixin</h2>

<div data-gist="11208920"></div>

<p>I don't claim to have invented this all on my own, I don't necessarily think it's the very best way to do things but it's how I do.</p>

<p>Mixins like this are useful I think for yourself and larger teams of developers, to ensure that consistent media query breakpoints are used and no random magic 'fixes' and overrides for very specific breakpoints are put in place.</p>

<h2>Do away with specificity</h2>
<p>Whilst I mention using specific breakpoints, using relative units for breakpoints is a subject I've written on before, so my rationale behind that idea is in my post <a href="http://daniel.furzeface.com/blog/do-away-with-specific-media-queries" rel="archives">Do away with specific media queries</a>.</p>
{{/content}}


{{#content "post-tldr"}}
<p>The Sass media query mixin I use.</p>
<p>Enjoy!</p>
{{/content}}

{{/extend}}
