---
pageClass: page-post
title: New year's resolutions for 2014
category: Play
pubDate: 27th Dec, 2013
tags:
- personal
published: false
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
It's been a good year! Here are my set of new year's resolutions for 2014.
{{/content}}


{{#content "post-content"}}
<h2>Should old acquaintance be forgot...</h2>
<p>The time has come when the year is drawing to an end and I look back on what I’ve achieved this year.</p>
<p>I’m pretty happy with how things are going in all aspects of my life (finding some wood to touch..) and I hope that next year brings more of the same.</p>
<p>Without boring you with the details of 2013 <small>(<a href="http://furzeface.com/blog" rel="archives">read my blog</a>)</small>, we move swiftly on to my list of resolutions for next year!</p>
<p>Feel free to give your input on my ideas and share yours as well, it’d be great to hear from you about any crazy ventures you have for 2014!</p>

<h2>Work</h2>
<h5>Go on a usability or UX course</h5>
<p>I want to further my knowledge in this area - something I’m already very interested in.</p>
<p>Read one of the <a href="http://52weeksofux.com/" rel="external">52 Weeks of UX</a> posts a week (makes sense, right?) and find a practical use for the knowledge gained.</p>
<figure>
  <img src="http://static.furzeface.com/img/blog/29/52_weeks_of_ux.png" alt="52 weeks of UX"/>
  <figcaption>Check out 52 weeks of UX with me next year</figcaption>
</figure>
<p class="edit"><strong>Edit:</strong><br><time>1st Jan, 2014</time> - I've just started <a href="http://uxtraining.net/#curriculum1" rel="external">this usability course</a> from Dr David Travis and started reading <a href="http://52weeksofux.com/" rel="external">52 Weeks of UX</a>.</p>

<h5>Start learning a new programming language</h5>
<p>...and find a practical use for it.</p>
<p>This year I attempted to learn some Python - starting via <a href="http://www.codecademy.com/" rel="external">CodeAcademy</a> (great resource by the way) but as I learnt, I found that in my everyday work I didn’t really have too much use for it beyond the basics.</p>
<figure>
  <img src="http://static.furzeface.com/img/blog/29/codeacademy_python.png" alt="Learning Python on CodeAcademy...I tried"/>
  <figcaption>Learning Python on CodeAcademy...I tried</figcaption>
</figure>
<p>If I can learn a new language that I can apply practically in my work or instead improve my understanding of one of the ones I use a lot now, it’d be more beneficial.</p>

<h5>Take the TEFL exam</h5>
<p>Earlier this year I completed a <abbr title="Teaching English as a Foreign Language">TEFL</abbr> course in my spare time and quite enjoyed it.</p>
<figure>
  <img src="http://static.furzeface.com/img/blog/29/teflink_logo.png" alt="TEFLink Logo"/>
  <figcaption>My TEFL course was fun</figcaption>
</figure>
<p>It would be nice to take the exam to become fully qualified - add another string to my bow and you never know, it may come in handy some day.</p>

<h5>Reading and writing</h5>
<p>Read more books and write more blogs about them, especially now that I’m going to be <a href="http://oreillynet.com/oreilly/bloggers/" rel="external">blogging for O’Reilly</a> too.</p>
<figure>
  <a href="http://oreilly.com/bloggers/?cmp=ex-orm-blgr-daniel-furze" rel="external">
    <img alt="I review for the O'Reilly Reader Review Program" src="http://cdn.oreillystatic.com/bloggers/blogger-review-badge-200.png">
  </a>
  <figcaption>I now review for the O'Reilly Reader Review Program</figcaption>
</figure>
<p class="edit"><strong>Edit:</strong><br><time>3rd Jan, 2014</time> - Just posted my next <a href="furzeface.com/blog/review-of-raphael-js-by-chris-wilson-oreilly-media" rel="external">O'Reilly review</a> and received my third book to read and review!</p>
<p>Write more frequently in general and get some more recognition on my blog, cos it’s going quite well lately!</p>

<h5>Hush Hush...</h5>
<p>Attempt to patent at least one of my new ideas...shh… {{emoji 'wink'}}</p>

<h2>Play</h2>
<h5><del>Flying</del> Falling with style</h5>
<p>Skydiving at least once, if not start an <abbr title="Accelerated Free Fall">AFF</abbr> course to begin training to get a skydiving license.</p>
<p>I have plans to save up for <a href="http://www.freefalluniversity.co.uk/" rel="external">this course</a> for 3 or 4 months - that way I’ll realise if I really want it or not and it’ll give me time to reconsider if I get scared!</p>

<h5>Physical Challenges</h5>
<p>Take part in at least one more <a href="http://toughmudder.com/" rel="external">Tough Mudder</a>. Cos they’re just so much fun! I’ve also applied to volunteer at a couple in the UK and Europe, so we’ll see where that takes me.</p>
<figure>
  <img src="http://static.furzeface.com/img/blog/29/dan_matt_after_tough_mudder.jpg" alt="Me and Mr Matthew Curry after Tough Mudder one year"/>
  <figcaption>Me and Mr Matthew Curry after Tough Mudder one year</figcaption>
</figure>
<p class="edit"><strong>Edit:</strong><br><time>6th Jan, 2014</time> - Just signed up for the <a href="toughmudder.co.uk/events/yorkshire-2014/" rel="external">Tough Mudder Yorkshire</a> in August!</p>
<p>I’m a little sick of marathons now so I might give a triathlon a go! This is a big <em>might</em> though, we shall see.</p>

<h2>Travel</h2>
<p>In 2013 I set myself the aim of visiting at least five new countries. I achieved this by visiting Paris, Athens, Edinburgh (it counts), Berlin, Amsterdam, Prague and Dublin. I did 7! (Scotland definitely counts…)</p>
<p>I’d never really travelled or gone on holiday to a great many places before this year and there were all amazing experiences so I fully intend on doing the same, if not more, this year!</p>
<figure>
  <img src="http://static.furzeface.com/img/blog/29/departures_board.jpg" alt="Departures board!"/>
  <figcaption>Departures! What a cool Christmas present this was :)</figcaption>
</figure>

<h5>On my list for 2014:</h5>
<ul>
  <li>Norway - I think I’ll be going to see Frank Turner here in March <small><strong>Edit:</strong> <time>26th Feb</time> - just been to Oslo!</small></li>
  <li>Iceland - Those hot springs look so nice</li>
  <li>Poland - I want to visit Auschwitz</li>
  <li>Spain - possibly to visit my Uncle and relax on the beach</li>
  <li>Belgium - chocolate... <small><strong>Edit:</strong> <time>17th Feb</time> - Just been to Brussels!</small></li>
  <li>Luxembourg - looks nice. <small><strong>Edit:</strong> <time>14th Feb</time> - I'm in Luxembourg now!</small></li>
  <li>Switzerland - I’d love to ski, maybe in a couple of years though</li>
  <li>Rome - b-e-a-utiful</li>
</ul>
{{/content}}


{{#content "post-tldr"}}
Happy New Year! - Dan {{emoji 'smile'}}
{{/content}}

{{/extend}}
