---
pageClass: page-post
title: On stress
pubDate: 10th Apr, 2015
category: Personal
tags:
- personal
- advice
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
A while ago I was about to burn out. Instead of going crazy I chanelled all of that into all of this.
{{/content}}


{{#content "post-content"}}
<h2>Uh oh&hellip;</h2>
<p>Things were going wrong, badly. For a couple of us it was personal things as well at work but for everyone involved we had a rocky few weeks&hellip;</p>
<p>I got to a point where I really did feel like I was going crazy but instead of doing anything rash like draft my notice or jump out of a window I wrote this all down to get it out of my system.</p>

<blockquote class="pullquote">
  We didn’t stress out. You shouldn’t either.
</blockquote>

<h2>We take on too much</h2>
<p>I’ve touched on <a href="blog/dont-be-an-imposter">these kind of subjects</a> before but in our industry it seems we as developers are very susceptible to situations like this. We take on a lot of responsibility and go far above and beyond the call of duty for the extra mile to get things done to keep clients and colleagues happy.</p>

<p>We have to remember to step back and realise then when things go slightly wrong it is not the end of the world.{{#note 1}}{{/note}}</p>
<small>{{#note_ref 1}}{{/note_ref}}<strong><a href="https://www.youtube.com/watch?v=kCpjgl2baLs" rel="external" target="_blank">This</a></strong> is the end of the world&hellip;</small>

<p>Contrary to what it seems that some clients think, <strong>life goes on</strong> when a <em>‘critical bug’</em>{{#note 2}}{{/note}} doesn’t get done as soon as it’s raised (which is inevitably on a Friday at around 4:30PM). {{emoji 'tired_face'}}</p>
<small>{{#note_ref 2}}{{/note_ref}}The term used quite loosely here</small>

<h2>Chill</h2>
<p>Life goes on when you can’t quite get everything done. The world keeps spinning. Users keep on using websites - even it they load a little slow on occasion. Even if a button is slightly the wrong colour. Even if CSS animations don’t work in IE8!</p>

<p>The point here is to take stock of the little things and don’t burn yourself out if you can’t get everything done perfectly right away. We stress at ourselves too much and need to step back and ask if there’s really a need to and if anyone else but ourselves is actually making us feel this way.</p>

<h2>Appreciate those around you</h2>
<p>I’m fortunate to have a great team of people around me who support each other at times like this. We realise that we’re all in this struggle together, aiming towards the same goal, on the same team - us against the world sometimes.</p>

<p>We laugh about those difficult times now. We knew we would. We didn’t stress out.</p>

<p>You shouldn’t either.</p>
{{/content}}


{{#content "post-tldr"}}
<ul>
  <li>Don’t stress when you can’t manage to exceed everybody’s expectations all the time</li>
  <li>It’s not the end of the world when things go wrong at work</li>
  <li>Don’t burn yourself out trying to perfect everything</li>
  <li>Surround yourself with appreciative, good people</li>
</ul>

<p>&hellip;and you’ll do just fine.</p>
{{/content}}

{{/extend}}
