---
pageClass: page-post
title: Recommended reading 2013 for front end developers
category: Reviews
pubDate: 25th Nov, 2013
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
A post I wrote for <a href="https://codeweavers.net/developer-blog/" target="_blank">the blog at work</a> on my reading recommendations.
{{/content}}


{{#content "post-content"}}

<h2><a title="Five Simple Steps Pocket Guides" href="http://www.fivesimplesteps.com/collections/books" target="_blank">Five Simple Steps pocket guides</a></h2>
<strong>Various Authors / Five Simple Steps / 2013</strong>
<p>Now I could go <a href="http://daniel.furzeface.com/blog/five-simple-steps-review-part-one" target="_blank">on</a> and <a href="http://daniel.furzeface.com/blog/five-simple-steps-review-collection-two" target="_blank">on</a> and <a href="http://daniel.furzeface.com/blog/five-simple-steps-review-collection-three" target="_blank">on</a> and <a href="http://daniel.furzeface.com/blog/five-simple-steps-collection-four-review" target="_blank">on</a> about these, but I won't do it here <small>(hint - click those <strong>ons</strong> to see my slightly more in depth reviews on these collections)</small>.</p>
<p>The <a href="http://www.fivesimplesteps.com/collections/books" target="_blank">Five Simple Steps pocket guides</a> are a great set of short but sweet eBooks written by some awesome authors on a variety of topics including accessibility, HTML, CSS, typography, content strategy and research. As the tagline says you can "Learn a lot from a little book" and I recommend buying the entire set right now!</p>

<h2><a title="The A Book Apart series" href="http://www.abookapart.com/" target="_blank">A Book Apart series</a></h2>
<strong>Various Authors / A Book Apart / 2010-2013</strong>
<p>Another great series of books (these ones slightly longer) - the <a href="http://www.abookapart.com/" target="_blank">A Book Apart series</a> comes from the guys from A List Apart, a blog that I follow quite regularly.</p>
<p>Again I won't go into too much detail as there are a lot of books in this series, but my favourites were Designing for Emotion, Mobile First, Design is a Job and the most recent - SASS for Web Designers.</p>
<figure><img src="http://static.furzeface.com/img/blog/22/a_book_apart.jpg" alt="Five simple steps pocket guide collections" alt="A Book Apart collection" /></figure>

<h2><a href="http://www.amazon.co.uk/Things-Every-Designer-Needs-People/dp/0321767535" target="_blank">100 Things Every Designer Needs to Know About People</a></h2>
<strong>Susan Weinschenk  / Peachpit / 2011</strong>
<p>Dipping in and out of this book has been fun and addictive and I'm still not finished! The <a href="http://www.amazon.co.uk/Things-Every-Designer-Needs-People/dp/0321767535" target="_blank">tips that Susan Weinschenk gives</a> brim with her experience and original research, lending credibility to issues that you didn't even consider before reading them here!</p>
<p>I'm personally really intrigued with the psychological aspects of design and usability and this book excels in explaining many aspects of user behaviour and gives essential tips on how to design for these considerations.</p>
<figure><img src="http://static.furzeface.com/img/blog/22/100_things_every_designer_needs_to_know_about_people.jpg" alt="100 Things Every Designer Needs to Know About People" /></figure>

<h2><a href="http://www.lukew.com/resources/web_form_design.asp" target="_blank">Web Form Design: Filling in the Blanks</a></h2>
<strong>Luke Wroblewski / Rosenfeld Media / 2008</strong>
<p>An entire <a href="http://www.lukew.com/resources/web_form_design.asp" target="_blank">book on form design</a>?? YES. If you step back and think about it for a second, forms are pretty much the most important thing on the web, and Luke Wroblewski covers everything you need and more to help create the most usable, interactive and semantically coded forms.</p>
<p>His research is second to none on this subject and I took away so much from this book to implement into my own projects.</p>
<figure><img src="http://static.furzeface.com/img/blog/22/web_form_design_fill_in_the_blanks.jpg" alt="Web Form Design - Filling in the Blanks" /></figure>

<h2><a href="http://nostarch.com/modernweb/" target="_blank">The Modern Web</a></h2>
<strong>Peter Gasston / No Starch Press / 2013</strong>
<p>I'd wanted a copy of <a href="http://nostarch.com/modernweb/" target="_blank">this book</a> since very shortly after seeing Peter Gasston speak at Canvas Conf in 2012, but just not had chance to delve into it fully until the middle of this year. I'm glad I did!</p>
<p>Peter is so thorough in taking you on a little journey into the newer parts of the HTML &amp; CSS specs and pretty much advises you on how to create a website or web app from the ground up, considering everything you'd ever need to in order to get going on an awesome project for your modern web users.</p>
<figure><img src="http://static.furzeface.com/img/blog/22/the_modern_web.jpg" alt="The Modern Web" /></figure>

<h2><a href="http://www.fivesimplesteps.com/products/hardboiled-web-design" target="_blank">Hardboiled Web Design</a></h2>
<strong>Andy Clarke / Five Simple Steps / 2010</strong>
<p>Another amazing book that covers everything you need to know to build for the modern web, from the ground up, <a href="http://www.fivesimplesteps.com/products/hardboiled-web-design" target="_blank">"hardboiled" web design</a> is about building the most robust website you can for every single different kind of user of the internet and hammers in something I love to adhere to - users do not all need to have exactly the same experience. It talks about building for the capabilities of the technologies and browsers that they choose/have to use and enhancing for the modern web.</p>
<figure><img src="http://static.furzeface.com/img/blog/22/hardboiled_web_design.jpg" alt="Hardboiled Web Design" /></figure>

<h2><a href="http://shop.oreilly.com/product/9780596517748.do" target="_blank">JavaScript: The Good Parts</a></h2>
<strong>Douglas Crockford / O'Reilly Media, Yahoo Press / 2008</strong>
<p>There's <a href="http://www.flickr.com/photos/nathansmith/4704268314/" target="_blank">photographs floating around the internet somewhere</a> showing <a href="http://shop.oreilly.com/product/9780596517748.do" target="_blank">JavaScript: The Good Parts</a> vs the Definitive Guide - it goes to show what the essentials really are (although I still refer to the definitive guide every now and then).</p>
<p><em>The Good Parts</em> is a concise, well-written book detailing the most important aspects of JavaScript to learn and I recommend it to anyone wanting to get a bit deeper into the language as it also helps break bad habits that could be forming straight away and tells why these things are bad, showing ways to improve the language itself through your use of it.</p>
<figure><img src="http://static.furzeface.com/img/blog/22/javascript_the_good_parts.jpg" alt="JavaScript: the good parts" /></figure>

<h2><a href="http://smacss.com/" target="_blank">SMACSS: Scalable and Modular Architecture for CSS</a></h2>
<strong>Jonathan Snook / 2013</strong>
<p><a href="http://smacss.com/" target="_blank">SMACSS</a> is another book I think the whole team should read. It covers CSS architecture for large-scale projects and how to write it in such a modular way to enable components to be easy read and reused by both the present team and future developers on a project. It gives examples of cleanly written CSS and you can see from this how much sense it makes to implement Jon's techniques. </p>
<p>Bonus: the eBook version comes with some great screencasts too!</p>
<figure><img src="http://static.furzeface.com/img/blog/22/smacss.jpg" alt="Scalable and Modular CSS" /></figure>

<h2><a href="http://www.sensible.com/dmmt.html" target="_blank">Don't Make Me Think: A Common Sense Approach to Web Usability</a></h2>
<strong>Steve Krug / New Riders / 2005 (2nd Edition)</strong>
<p>An absolute <a href="http://www.sensible.com/dmmt.html" target="_blank">bible in usability</a>, I re-read this a short while ago. It's amazing to see how pretty much everything in this book is still completely relevant today.</p>
<p>I think all of us should re-read this every year because Steve Krug knows his stuff, he boils down his vast amount of research and experience into 12 chapters of brilliant advice that definitely needs considering before designing any user experience.</p>
<figure><img src="http://static.furzeface.com/img/blog/22/dont_make_me_think.jpg" alt="Don't Make Me Think"/></figure>

<h2><a href="http://www.sensible.com/rsme.html" target="_blank">Rocket Surgery Made Easy: The Do-It-Yourself Guide to Finding and Fixing Usability Problems</a></h2>
<strong>Steve Krug / New Riders / 2010</strong>
<p>I won't lie, I've literally only just started reading this but I just know that it's going to be as good as if not better than Steve Krug's previous book.</p>
<p>If Don't Make Me Think tells you how to cater for usability problems whilst designing, <a href="http://www.sensible.com/rsme.html" target="_blank">Rocket Surgery Made Easy</a> will help maintain and fix any usability issues that arise - showing how to combat them and give your users the best possible experience. So with that, I'm going to go and finish it now - I'll get back to you on how good it is.</p>

<figure><img src="http://static.furzeface.com/img/blog/22/rocket_surgery_made_easy.jpg" alt="Rocket Surgery Made Easy"/></figure>
{{/content}}


{{#content "post-tldr"}}
<p>I hope you've enjoyed this little list and I urge you to go spend all your Christmas money on all of these books right now!</p>
{{/content}}

{{/extend}}
