---
pageClass: page-post
title: Resources for aspiring front end developers
category: Work
pubDate: 22nd Oct, 2013
tags:
- tips
published: false
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
Every now and then I get asked questions either by back-end devs at work or by friends asking how I do what I do.
{{/content}}

{{#content "post-content"}}
<h2>Questions</h2>
<p>They go like this:</p>
<ul>
  <li>How do I learn HTML/CSS?</li>
  <li>Where's a good place to start learning front end development?</li>
  <li>What resources do you recommend?</li>
  <li>Can you show me how to/point me in the right direction for...</li>
</ul>

<p>I think it's great that back-end developers want to learn a bit more about what we do and are even starting to create their own websites and blogs so I thought I'd compile a little list of the resources I used when first learning and refer back to whilst developing.</p>

<h2>Blogs</h2>
<ul>
  <li><a href="http://alistapart.com/" rel="external">A List Apart</a> - web standards, latest trends and technologies</li>
  <li><a href="http://css-tricks.com/" rel="external">CSS Tricks</a> - CSS (obviously), HTML/JavaScript, web standards</li>
  <li><a href="http://davidwalsh.name" rel="external">David Walsh</a> - HTML, CSS, JavaScript, PHP</li>
  <li><a href="http://csswizardry.com" rel="external">CSS Wizardry</a> - CSS, OOCSS, Front-end Architecture</li>
</ul>

<h2>Tutorials</h2>
<ul>
  <li><a href="http://www.codecademy.com/" rel="external">Code Academy</a> - AWESOME!</li>
</ul>

<h2>Playgrounds</h2>
<ul>
  <li><a href="http://codepen.io/" rel="external">Codepen</a></li>
  <li><a href="http://jsfiddle.net/" rel="external">JSFiddle</a></li>
</ul>

<h2>Tools</h2>
<ul>
  <li><a href="https://chrome.google.com/webstore/detail/pendule/gbkffbkamcejhkcaocmkdeiiccpmjfdi" rel="external">Pendule Chrome extension</a></li>
  <li><a href="https://chrome.google.com/webstore/detail/dimensions/hdmihohhdcbejdkidbfijmfehjbnmifk" rel="external">Dimensions Chrome extension</a></li>
  <li><a href="http://html.adobe.com/edge/inspect/" rel="external">Adobe Edge Inspect</a></li>
</ul>

<p>As well as these online resources, if you're really wanting to get into front-end development I'd recommend the <a href="http://www.abookapart.com/" rel="external">A Book Apart</a> series and the <a href="http://www.fivesimplesteps.com/" rel="external">Five Simple Steps</a> pocket guide collections.</p>
<p>See my blog posts on the <a href="/blog/five-simple-steps-review-part-one">First</a>, <a href="/blog/five-simple-steps-review-collection-two">Second</a> and <a href="/blog/five-simple-steps-review-collection-three">Third</a> pocket guide collections.</p>
{{/content}}


{{#content "post-tldr"}}
<p>Above is a list of resources for aspiring front-end developers.</p>
<p>It's an ongoing list and will grow as I find more resources that I like and want to share!</p>
{{/content}}

{{/extend}}
