---
pageClass: page-post
title: Review of Idea to Invention by Patricia Nolan-Brown
category: Reviews
pubDate: 2nd Feb, 2014
tags:
- reviews
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
Delving into a non-technical subject this time, the latest book I received from O’Reilly as part of the <a href="http://www.oreillynet.com/oreilly/bloggers/">blogger review program</a> was <a href="http://shop.oreilly.com/product/9780814432938.do">Idea to Invention: What You Need to Know to Cash In on Your Inspiration</a> by Patricia Nolan-Brown.
{{/content}}


{{#content "post-content"}}
<p>This book interested me initially as I have previously stated in my <a href="http://furzeface.com/blog/new-years-resolutions-for-2014" rel="archives">New Year’s Resolutions for 2014</a> blog post that one of my many ambitions for this year is to start seriously thinking about patenting and marketing some of the ideas I’ve had recently.</p>
<figure>
  <img src="http://static.furzeface.com/img/blog/34/idea_to_invention_cover.png" alt="Idea to Invention book cover"/>
  <figcaption>Idea to Invention</figcaption>
</figure>
<h2>From Idea to Invention...</h2>
<p>Well where do I start in reviewing this amazing guide?! </p>
<p>Patricia certainly has the credentials, and showing real world examples of her own success and back story captured my fascination immediately, and her positive attitude towards business, invention and generally just life I think, really got me excited to read this book and apply to relevant advice to my own situation.</p>
<p>She introduces the book laying out the aims and showing that anyone can invent and market a successful product with the right mindset, then delves into her story explaining that her need for a product that doesn’t exist led her to invent! </p>
<p>This is a feeling I am familiar with - I was looking for a Christmas present for my brother and his girlfriend and what I had in my head that I wanted just did not seem to exist, which led me to do some sketches of the product which I’m going to hopefully prototype soon!</p>
<blockquote class="pullquote">If you need something and it doesn’t exist, rather than seeing a problem, see an opportunity</blockquote>
<p>Next the author lays out a helpful “success quiz” for the reader to ascertain their level of skill in specific areas and identify where there’s room for improvement. This definitely serves to entice the reader in more and more and I felt at this point like I was about to be taken on a rollercoaster journey, learning that I too could be successful with the right ideas.</p>
<p>The following chapters are directly related to the Success Quiz sections and are packed with hints and tips and I think I’ll have to read through entire chapters again just to take more notes!</p>
<h2>Inspirational from the start</h2>
<p>Each chapter starts with an inspirational quote and chapter 8 dedicates a number of pages to more (and I’m a sucker for these anyway) and part way through this part of the book I took one of the author’s ideas - writing your positive thoughts on cards and keeping them in a box to randomly pick out when you need a little boost - and put my own spin on it by noting down these inspirational quotes and keeping them handy for when I need a little kick!</p>
<figure>
  <img src="http://static.furzeface.com/img/blog/34/inspiration_cards.png" alt="Inspirational quotes on index cards"/>
  <figcaption>My pile of inspirational quotes on index cards</figcaption>
</figure>
<p>Now the book jumped into technical steps to formalise product invention and idea protection - I initially felt that some of it whizzed by as it is obviously more geared towards the process in the US.</p>
<p>However the author had more than captivated me by this point so I read on and was able to apply the underlying principles to my own situation and it led me on to research more about the processes of patenting and licensing in my own country.</p>
<p>The section on social media is now more important than ever in the current world market and the section in Patricia’s book really made sense to me and gave me a great many tips and ideas to start implementing as soon as possible - especially if I can get my web service ideas off the ground anytime soon.</p>
<p>The last chapters of <em>Idea to Invention</em> bombard the reader with tips, quotes and anecdotes that help reinforce the fact that any of us could do this, inspiring and urging us to go on and make the best of what we've got.</p>
<p>I had to stop many a time and write notes, not just to remember the advice given, but to add to my collection of inspirational quotes as above!</p>
<h2>After reading...</h2>
<p>Reading this book has spurred me on to formalise <abbr title="Non-Disclosure Agreement">NDAs</abbr> for two of my web service ideas and have them signed by the people involved so far, and further encouraged me to look at prototyping the physical product idea I’ve had, and has shown me the options available to proceed.</p>
<p>The ebook is very reasonably priced and I think if I’d known it existed I’d have purchased it anyway due to the ideas I have running around my head at the moment - this book couldn’t have come at a better time for me!</p>
{{/content}}


{{#content "post-tldr"}}
<p>This book is far too good to do a “Too Long, Didn’t Read” for - so I recommend you go back up to the top and read it, or better than that, grab a copy of the book <a href="http://shop.oreilly.com/product/9780814432938.do">from O’Reilly</a> and read through it!</p>
<p>Joking aside though, I did love this book and have gained a lot of insight and ideas that I can directly apply to my current needs and I am inspired by Patricia Nolan-Brown and her many many inventions.</p>
<p>I’ll leave you with a quote from the early stages of the book where she declares:</p>
<blockquote class="pullquote">If I can do it, so can you!</blockquote>
<p>Apply inspiration as needed...</p>
<h2>Some extra resources:</h2>
<ul>
  <li><a href="http://www.patricianolanbrown.com">Patricia’s personal website</a></li>
  <li><a href="http://www.ipo.gov.uk/nda-mutualagreement.pdf">A useful UK NDA template</a></li>
</ul>
{{/content}}

{{/extend}}
