---
pageClass: page-post
title: Review of a web for everyone
category: Reviews
pubDate: 11th Mar, 2014
published: true
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
Back on to a tech book for my next O’Reilly blogger program review, I chose “A Web for Everyone: Designing Accessible User Experiences” by Sarah Horton &amp; Whitney Quesenbery.
{{/content}}


{{#content "post-content"}}
<figure>
  <img src="http://static.furzeface.com/img/blog/39/a_web_for_everyone_cover.png" alt=""/>
  <figcaption>A Web for Everyone Cover</figcaption>
</figure>

<p>Before I reviewed this title I attended one of <a href="http://oreillynet.com/pub/e/2992">O’Reilly’s free webcasts</a> given by <a href="http://www.wqusability.com/">Whitney</a> so I was pretty excited when I saw that the very book spoken about in the seminar was up for review!</p>
<h2>A Web For Everyone</h2>
<p>The book begins by stating the mission of helping us to understand the accessibility challenges faced today and its aims to address them in a clear helpful way, for readers both technical and non-technical, designers and developers alike.</p>

<blockquote class="pullquote">In this book, we will present a design approach that begins and ends with people.</blockquote>

<p>Right from the start the authors encourage the reader to think about all aspects of the design of a website and to consider all users, constantly embedding the message that the universal web should be designed for all.</p>
<p>Citing the relevant accessibility guidelines and laws in Europe and the US help the reader to understand the importance and urgency of this topic and made me want to read on and embrace the advice given to apply to my own work. </p>

<h2>Personas</h2>
<p>The book introduces the concept of personas to emphasise the needs of particular users - which can be found on the <a href="http://rosenfeldmedia.com/blogs/a-web-for-everyone/">Rosenfeld Media blog</a>. </p>
<p>I’ve used personas before to evaluate user journeys and experiences for my own products and within my job role but I’d never actually thought of using them to convey the more extreme and uncommon use cases such as physically disabled, blind or aged users.</p>
<p>These definitely help you to consider such users of your own products after reading about the potential troubles they may have using a website or app.</p>

<blockquote class="pullquote">The use of personas serves to reinforce the needs of others.</blockquote>

<p>Giving real-world examples, the authors then move on to showing how to define goals for accessibility in the next chapter of the book and speak of how accessibility, alongside with usability should be considered from the get-go when designing and building a website and that having a clear purpose and goals to make your project available to all will help from the start.</p>

<p>The use of personas throughout the entirety of the book serves to reinforce the needs of others and this is the first time I’ve read a book about accessibility that really uses this emotional connection to users and their troubles to bring home the absolute need of these things when developing.</p>

<p>Case studies and interviews with web professionals and developers from world renown companies at the end of each chapter also show that they have to think about all of these accessibility features and abide by them, serving a web for everyone, just as we all should.</p>

<h2>In Summary</h2>
<p>Without delving into too much detail here, this book goes on to show many techniques and implementations of web standards that may seem basic to some, but I know are definitely overlooked by a lot of us.</p>
<p>Each of the sections of A Web For Everyone focuses on one aspect of design and development that can help us as developers proceed to create more accessible to all, user friendly websites and webapps. </p>
<p>Talking about wayfinding, clutterless design and using plain language in the remaining chapters serves to influence the reader and urges them towards developing for everyone.</p>
{{/content}}


{{#content "post-tldr"}}
In “A Web For Everyone” Sarah Horton and Whitney Quesenbery share with us their enormous amount of knowledge and experience in order to help us as web designers and developers on the way to creating solid, accessible, usable products to work towards maintaining a web for everyone.
{{/content}}

{{/extend}}
