---
pageClass: page-post
title: Review of Lean UX by Jeff Gothelf
category: Reviews
pubDate: 24th Dec, 2013
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
My review for the <a href="http://www.oreillynet.com/oreilly/bloggers/" target="_blank">O’Reilly Reader Review Program</a> of <strong>Lean UX: Applying Lean Principles to Improve User Experience</strong> by Jeff Gothelf.
{{/content}}


{{#content "post-content"}}
<figure>
  <img src="http://static.furzeface.com/img/blog/28/lean_ux_thumb.png" alt="Lean UX: Applying Lean Principles to Improve User Experience"/>
  <figcaption>Lean UX: Applying Lean Principles to Improve User Experience</figcaption>
</figure>
<h2>Reviewing for O'Reilly</h2>

<p>For my first review as part of the O’Reilly Reader Review Program I chose <em>Lean UX</em> by <a href="http://www.jeffgothelf.com/blog/ " target="_blank">Jeff Gothelf</a>, with <a href="http://www.joshuaseiden.com/" target="_blank">Josh Seiden</a>.</p>
<figure><a href="http://oreilly.com/bloggers/?cmp=ex-orm-blgr-daniel-furze" target="_blank"><img alt="I review for the O'Reilly Reader Review Program" src="http://cdn.oreillystatic.com/bloggers/blogger-review-badge-200.png"></a></figure>
<p>I'd not heard of these authors before my encounter with the program and hadn't read any books on or delved very deeply into <em>Lean</em> at all - in fact I chose <em>Lean UX</em> over an HTML5 book and an iOS development book mainly because I had no real prior knowledge of Lean and wanted to challenge myself for my first O’Reilly bloggers post.</p>
<p>As well as this, I currently work in an Agile software development company, <a href="http://codeweavers.net" target="_blank">Codeweavers</a>, and I enjoy working in an environment like this but I’ve not read into the methodologies behind it too much before and having heard Lean mentioned by some of the operations team alongside agile I became interested in this title when I saw it on offer. </p>

<h2>Lean for beginners?</h2>
<p>Jeff Gothelf, thankfully, introduces Lean to the absolute novice (such as myself) in the first section of his book - <strong>Introduction and Principles</strong> - explaining simply what it is, who it is for and what we may hope to achieve from reading the book.</p>
<p>The outlining of the Lean principles in the first chapter and relating them to agile development already had me making copious amounts of highlights and notes, ready to compare and contrast them with the workflow and processes that we undertake at Codeweavers.</p>
<p>The language at this point is simple and friendly enough for me as something of a beginner in this area to grasp and the author gives excellent examples within every principle showing “what it is” and “why do it”.</p>

<h2>Lean Processes</h2>
<p>Leading the reader into the second section of <em>Lean UX</em> - <strong>Process</strong> - with a completely relatable anecdote, Jeff then goes on to give a step by step breakdown of each part of the Lean process for the start of a project along with methods that could be easily applied to many projects our teams have undertaken in the past and are in the midst of currently too.</p>
<p>Many more anecdotes, diagrams and even printable worksheets serve as great resources to anyone wanting to implement an amount of Lean processes into their workflow after reading this book. </p>
<figure>
  <img src="http://static.furzeface.com/img/blog/28/lean_ux_diagrams.jpg" alt="Lean UX diagrams and drawings"/>
  <figcaption>Throughout the book, many diagrams help explain the processes.</figcaption>
</figure>
<p>Throughout the early <strong>Process</strong> chapters, there is a constant reiteration of the core values of Lean in relation to a design team and their processes and Jeff really tries to get across the notion of change and the positive aspects that it will bring to any company wishing to undertake them. </p>
<p>If any reader was to note down the steps that he gives in these chapters I surmise that they’d have all that they need to start revolutionising the way that they work right away!</p>

<h2>Style Guides</h2>
<p>There’s an emphasis on personas and style guides in this part of the book - two excellent sounding tools that we should utilise more of when designing and developing customer facing user interfaces. I won't go into what exactly they are here, (read the book!) but just to say that they're both extremely useful tools.</p>
<p>I’ve had great positive experiences with creating living style guides for freelance projects I’ve undertaken that have been built collaboratively with others and it’s good to see in the case studies that large companies are taking the time to use them to their full potential  - something that I hope to implement for larger scale projects at my workplace if possible in the future.</p>
<figure>
  <img src="http://static.furzeface.com/img/blog/28/furzeface_style_guide.png" alt="A screenshot of the style guide for Furzeface.com"/>
  <figcaption>A style guide that I'm working on - they're pretty useful!</figcaption>
</figure>

<h2>Digging into it...</h2>
<p>The further I got into <em>Lean UX</em>, the more I realised that I could relate to the principles shown, not just in my place of work but in every project I’m involved in. </p>
<p>At first I thought that was down to the fact that as I mentioned before I work in an agile company, but the concepts are explained so clearly that I believe that someone even more of a novice than I would be able to take Jeff’s advice on board and hopefully use it to make the case to their employer of using Lean principles in relation to user experience design.</p>

<p>The chapter on <strong><abbr title="Minimum Viable Products">MVPs</abbr></strong> grabbed my attention - listing the forms of prototype to be used whilst designing a new product and I instantly found myself imagining the uses for them and wanting to know if there was any prototyping software the authors could recommend.</p>
<p>On turning (swiping?) the page I found such a list waiting for me! Jeff Gothelf and Josh Seiden don’t leave anything out in this book!</p>
<p>The next chapter, <strong>Feedback and Research</strong>, was exceptionally interesting as I read this bit whilst at work around the time that we’d got a bit of feedback on a project and I was making some slight changes in order to enhance the usability of our app.</p>
<p>The author goes on to explain methods of feedback and research along with why and how frequently you should be undertaking them. I’ve been reading a lot about user testing recently and the book gave me a lot more to think about when talking about integrating it into the workflow.</p>

<h2>Making Lean UX Work</h2>
<p>Now, since skimming an overview of this book before I intended to read it, I was quite excited for the final chapters.</p>
<p>Jeff talks in the final section of Lean UX about how to integrate it into an agile workflow and environment as well as giving advice on the shifts a company would have to make in order to do so.</p>
<p>I’m not saying that I’ll be able to integrate these ideas into the workflow we currently have at Codeweavers but I shall hopefully be able to take some of the ideas on board when scoping out a new project or <abbr title="Minimum Marketable Feature - our version of an MVP">MMF</abbr> and I’m hopeful that some of the things described on this book will come naturally to me and other members of the design team from now on.</p>

<p>I won’t give too much away about these final parts but I’ll say that once again, Jeff and Josh succeed in explaining the vital pieces of the Lean UX puzzle to anyone without much prior knowledge.</p>
<p>The use of relatable case studies contribute to an easy to understand, thorough, exceptionally well-written guide to implementing Lean UX.</p>
{{/content}}


{{#content "post-tldr"}}
<p>I completely enjoyed reading Lean UX and I am so glad that I took a chance and picked something I knew very little about for my first O’Reilly review.</p>
<p>As I’ve mentioned many times in this blog post Jeff Gothelf and Josh Seiden write in such a friendly, yet knowledgeable and trustworthy way with the use of case studies, anecdotes, diagrams, drawings and thorough explanations of Lean UX and how to start incorporating it into your workflow.</p>
<p>I could not for the life of me stop highlighting quotes and even full paragraphs of this book in order to re-read them and have a go at implementing some of the things I've learnt. (64 highlights in 150 pages!)</p>
<figure>
  <img src="http://static.furzeface.com/img/blog/28/crazy_highlights.png" alt="After reading this book I'd made 64 highlights in 150 pages!"/>
  <figcaption>The aftermath...I couldn't stop highlighting parts to refer back to during these sections of the book.</figcaption>
</figure>
<p>You can <a href="http://shop.oreilly.com/product/0636920021827.do" target="_blank">buy <em>Lean UX</em> from O'Reilly</a> and I highly recommend it to anyone within a company who has a desire to become more efficient in UX design and propel their productivity by challenging themselves and their colleagues to dive into and utilise Lean principles.</p>
{{/content}}

{{/extend}}
