---
pageClass: page-post
title: Review of Learning from jQuery
category: Reviews
pubDate: 27th Jan, 2014
tags:
- reviews
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
I was given a copy of <a href="http://shop.oreilly.com/product/0636920026280.do" target="_blank">Learning from jQuery by Callum Macrae</a> to review for the <a href="http://www.oreillynet.com/oreilly/bloggers/" target="_blank">O’Reilly Reader Review Program</a>.
{{/content}}


{{#content "post-content"}}
<figure>
  <img src="http://static.furzeface.com/img/blog/33/learning_from_jquery_cover.png" alt="Learning from jQuery book cover"/>
  <figcaption>Learning from jQuery</figcaption>
</figure>

<h2>Coincidence?</h2>
<p>On the day I chose my next book for the <a href=”http://www.oreillynet.com/oreilly/bloggers/”>O’Reilly bloggers</a> program, funnily enough I’d decided to make the move and rewrite my code using jQuery to JavaScript on one of my projects and had actually asked around for some tips on writing an AJAX wrapper amongst a couple of other things. </p>
<p>So it followed that when I saw <a href=”http://shop.oreilly.com/product/0636920026280.do”>Learning from jQuery</a> it jumped out at me as being completely relevant to what I wanted! Coincidence? Maybe.</p>

<h2>Learning all the things!</h2>
<p>I just straight into this book, reinforcing my knowledge of event listeners, constructors/prototypes and learning more about DOM traversal in the first part of this book.</p>
<p>I thought at this point that the book is well written for the novice to JavaScript and that I personally underestimated what I may be able to gain from these first few chapters.</p>
<p>Callum writes in a style that appeals to someone wanting to learn more about JavaScript using their knowledge of jQuery, perhaps limited by hacking away at the library and plugins written for it, as I (and you, probably) did once upon a time.</p>

<h2>Getting into it</h2>
<p>I’m glad I ploughed on, getting to the chapter on AJAX - what I initially became interested in the book for!</p>
<p>This part of the book explained in enough detail for me to do exactly what I wanted, and the code examples helped greatly - not just in this chapter but throughout the book, I have to add.</p>
<p>As I’ve been reading a lot of JavaScript development books recently I was able to skim over the last chapter on JavaScript conventions but I think for a beginner this section would be very useful, along with the appendix on JavaScript basics.</p>

<h2>Finally...</h2>
<p>I’d recommend this book for someone like myself wanting to write native JavaScript more instead of relying on the jQuery library for tasks that now seem trivial.</p>
<p>If you’re an experienced JS developer though, I think this book is worth glossing over for a refresh of the JavaScript methodologies and conventions provided.</p>
<p>Callum Macrae writes in an experienced manner and with his extensive use of code examples (and also by hosting them on Github) he teaches the reader in a clear, thorough way.</p>
{{/content}}


{{#content "post-tldr"}}
<p>A good short, concisely written book for a novice JavaScript developer to help with rewriting your code, reducing your reliance on jQuery and learning a bit more about native JavaScript methods.</p>
<p>I’d have liked to have seen this book expanded a little more and I hope Callum Macrae writes more in the future on this topic!</p>
<p><a href="http://shop.oreilly.com/product/0636920026280.do" target="_blank">Buy your copy</a> from O'Reilly.</p>
{{/content}}

{{/extend}}
