---
pageClass: page-post
title: Sharing Ramadan
pubDate: 11th July, 2015
category: Personal
tags:
- personal
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
My experience fasting for Ramadan for 5 days to support my friends doing it.
{{/content}}


{{#content "post-content"}}
<h2>My 5 day fast</h2>
<p>About a month ago or so I added <em>Support my Muslim friends by taking part in Ramadan</em> to my bucket list - I’d wanted to do it last year to support colleagues and friends but couldn’t bring myself to even try.</p>
<p>This year I intended on fasting but still drinking for the 5 day working week, and actually managed to go without any fluids as well as food during the daylight hours.</p>
<p>Most days this involved eating at approximately 9:40pm when the sun goes down and eating ’til around 10pm, drinking a lot of iced water then sleeping. I’d wake up during the night and down a couple more pints of water but then that was it until 9:40 the following evening.</p>

<figure>
  <a href="https://trello.com/c/ajQaSXo8/38-support-my-muslim-friends-by-taking-part-in-ramadan-for-a-working-week" target="_blank">
    <img src="https://trello.com/c/ajQaSXo8.png" alt="My Trello Bucket List card about taking part in Ramadan">
  </a>
  <figcaption>The card on my online <a href="https://trello.com/b/wunSYyAp/bucket-list" rel="external">Trello Bucket List</a> - now <strong>DONE</strong>.</figcaption>
</figure>

<p>The whole experience was actually a lot easier than I thought after the initial shock to my system and I got a lot of out it. I felt healthier, better in myself, more disciplined and - strangely - more productive.</p>
<p>As well as this I started to get an entirely new outlook on food, drink, wastage and appreciation of the little things. Waiting all day for water and for food really made me appreciate how lucky I am to be able to have it whenever I want, and often over-indulge as well - which I’ll be doing less of now.</p>

<h2>Mini diary</h2>
<p>A selection of my feelings throughout the week, from the mini diary I kept on the <a href="https://trello.com/c/ajQaSXo8/38-support-my-muslim-friends-by-taking-part-in-ramadan-for-a-working-week" rel="external">Trello Bucket List card</a>:</p>

<blockquote>
  “On day 2! The hardest part is not drinking any fluids throughout the day.
  <br>
  Also the final 2 hours when I'm at home on my own before I can eat at approx. 9:40pm...that's pretty tough too.”
</blockquote>

<blockquote>
  “Day 3 and it's getting tough. I'm getting used to no fluids a bit more though. And really appreciating the food and drink I do have come nightfall, appreciating how good it is and also not wasting any.”
</blockquote>

<blockquote>
  “Day 4 - had a dream last night about a buffet where I couldn't even manage much food (nightmare).”
</blockquote>

<blockquote>
  “I'm finding myself so tired and emotional for some reason, obviously related to this a bit. Still staying strong even through the offer of free cakes, fruit and coffee this evening! It's hard.”
</blockquote>

<blockquote>
  “Last day. It feels like I'm waking up with a perpetual hangover every day, and so tired!”
</blockquote>

<blockquote>
  “Getting pretty irritable now. {{emoji 'expressionless'}}”
</blockquote>

<p>Thanks for putting up with me Andy, Jordan, Marc, Pete and Ali on the last day there&hellip;I was a bit crazy for a while I think.</p>

<h2>#ShareRamadan</h2>
<p>The night before I started I was pretty nervous about the whole thing and Billy showed me that a lot of people have been sharing Ramadan for a day each and filming themselves and what they think of it, to go on the <a href="https://www.facebook.com/shareramadan">ShareRamadan Facebook page</a>. I didn’t even know there was such a movement but it’s great to see others taking part and showing respect this way.</p>

<p>When I was almost at the end of my stint I was half-bullied into making a video by Billy, even though I normally hate filming myself <small>(who <em>doesn’t</em> hate their own voice?!)</small>.</p>

<p>This video sums up my feelings on the subject kind of well:</p>
<div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-video" data-allowfullscreen="1" data-href="/danno.furzleton/videos/o.543868782390893/1640268326186351/?type=1"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/danno.furzleton/videos/1640268326186351/"><a href="https://www.facebook.com/danno.furzleton/videos/1640268326186351/"></a><p>I&#039;m hours away from finishing my 5 days sharing Ramadan with colleagues and friends. It&#039;s been...an experience!</p>Posted by <a href="https://www.facebook.com/danno.furzleton">Daniel Furze</a> on Friday, July 10, 2015</blockquote></div></div>

<p>Since then I’ve got a lot of support and positive feedback which reinforces my pride in doing this.</p>

<h2>Staying strong</h2>
<p>My resilience was tested a fair amount, my colleages teased and tested me a few times too <small>(thanks Jordan)</small> but I managed to stay strong and am pretty proud of it now.</p>

<blockquote class="twitter-tweet" lang="en"><p lang="en" dir="ltr">Free food and coffee at the Manchester Digital AGM...this is testing my resolve. <a href="https://twitter.com/hashtag/Ramadan?src=hash">#Ramadan</a> <a href="https://twitter.com/hashtag/ShareRamadan?src=hash">#ShareRamadan</a></p>&mdash; Dan Furze (@furzeface) <a href="https://twitter.com/furzeface/status/619182543011758081">July 9, 2015</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<p>Those who know me know I’m by no means a religious man, but I have a <strong>huge</strong> amount of respect for the people that do this for 30 days each year for their religion.</p>
<p>I feel as though my short stint, my <em>tiny drop in the water</em> was an achievement for myself, and I can now look back on it with a certain degree of pride for doing this for my own reasons.</p>
{{/content}}

{{#content "post-tldr"}}
<p>I took part in Ramadan alongside my Muslim colleages and friends and had a great experience doing so. I’m not one to preach at all but I recommend everyone try it at least for a day next year - it really did give me perspective on a lot of things.</p>
<p>I’ll definitely try to do it again next year.</p>
<p>See:
  <ul>
    <li><a href="https://trello.com/c/ajQaSXo8/38-support-my-muslim-friends-by-taking-part-in-ramadan-for-a-working-week" rel="external">My Trello Bucket List card</a> with a mini diary of the week</li>
    <li><a href="https://www.facebook.com/danno.furzleton/videos/o.543868782390893/1640268326186351" rel="external">My ShareRamadan video</a></li>
  </ul>
</p>
{{/content}}

{{/extend}}
