---
pageClass: page-post
title: Speaking JavaScript by Dr. Axel Rauschmayer.
category: Reviews
pubDate: '21st Apr, 2014'
bannerImage: '1440x785.gif'
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
My Review for the O'Reilly Blogger Review Program.
{{/content}}


{{#content "post-content"}}
<figure>
  <img src="http://daniel.furzeface.com/themes/furzeface_v2/img/placeholder.png" data-src="http://static1.furzeface.com/img/blog/42/speaking_javascript_cover.png" alt=""/>
  <figcaption>Speaking JavaScript Cover</figcaption>
</figure>

<h2>JavaScript Quick Start</h2>
<p>The first section of this book is what it is, a quick start guide for the novice JavaScript developer - I was fortunate enough to breeze through this chapter as I've been reading so many JS books lately!</p>
<p>Well, that's what I first thought! The first section does actually go into a little more detail and provides some commonly used methods and applications of them and I even learned a thing or two, just goes to show!</p>

<blockquote class="pullquote">
  He gives just the right amount of information at first to keep any novice coder's attention whilst also serving as a complete, in depth reference.
</blockquote>

<p>Dr. Rauschmayer quite nicely explains in simple terms the concepts and story behind ECMAScript and shows an overview of the syntax you'd need to learn as a beginner to the language and the first section of Speaking JavaScript serves as useful reference for even the seasoned JS developer.</p>

<h2>Background</h2>
<p>The next section states that it's not required reading - however I'm quite keen on learning a bit more about the history of JavaScript, I believe that it leads to a more thorough understanding of why I code how I do and not just because I've been told or I've read it somewhere else.</p>
<p>Thus, I delved into Section Two -  JavaScript in Depth with a keenness that wasn't disappointed as Axel asks and answers "Why JavaScript?" and goes on to tell the reader of the many uses and tools.</p>
<p>Learning about the conception of the language and it's influences is quite enlightening, and the timeline of Historical JavaScript Milestones is a talking point also, both of which lead nicely into the next section, what we've all been waiting for...</p>

<h2>JavaScript in Depth</h2>
<p>Throughout the main section of this book - JavaScript in Depth - Axel gives probably the most detailed guide to JavaScript I've had the opportunity to read. And that's a few.</p>
<p>He covers everything from the syntax of the first line of JavaScript you'd write to more intricate features covering every part of the language I thought possible, and more.</p>
<p>I feel that in reading through the majority of this section chapter by chapter that I was actually able to take a step back and relearn some aspects of the language and also see some of the reasoning behind why the features were added by Brendan Eich in the beginning along with a few deprecated features and the rationale behind such decisions.</p>
<p>This section of more of a reference guide that I'll be dipping back into when needed in the near future, as well as using it to explain features to the other developers in the workplace when I get questioned on the usage (and usefulness) of JavaScript.</p>

<h2>Tips, Tools and Libraries</h2>
<p>I've been a bit of a nerd recently and been looking up and reading quite a few articles on JS coding standards, intending on writing a document for work and my personal projects with other developers, so as I got to the final chapter in Speaking JavaScript I was glad to have another skimming session with a few helpful tips to add to my list.</p>
<p>I tend to skip the formatting advice as I find that on different projects other developers' standards vary quite a lot (spaces vs tabs, anyone?) and I tend to adapt quite quickly to others' formatting standards, but the rest of this chapter covers everything I could've wanted for reference, reiterating a lot of practises that I already know and have been looking into. </p>
<p>After the useful sections on formatting and debugging tools I picked up a couple of tips on documentation that I'll be working into a project ASAP and I read through the exhaustive list of resources, filling my <a href="http://getpocket.com">Pocket</a> with around 20 <em>To Read</em> links!</p>
<p>Tips, Tools and Libraries is a great read for aspiring developers looking to improve their standards so it comes highly recommended by me!</p>
{{/content}}


{{#content "post-tldr"}}
<p>In <em><a href="http://shop.oreilly.com/product/0636920029564.do">Speaking JavaScript</a></em> Dr Axel Rauschmayer writes a clear guide for anybody wanting to read about the conception and usage of JavaScript in the past, present and future. </p>
<p>He gives just the right amount of information at first to keep any novice coder's attention whilst also serving as a complete, in depth reference catering for even the most advanced JavaScript programmer. </p>

<blockquote class="pullquote">
  Axel gives probably the most detailed guide to JavaScript I've had the opportunity to read. And that's a few.
</blockquote>

<p>The book is full of resources enabling developers to get the most out of the language and delve further into it. </p>
<p>I'll definitely be recommending it to a couple of the guys at work who're just starting to get into JavaScript and want to learn more than just a few basics. </p>
{{/content}}

{{/extend}}
