---
pageClass: page-post
title: The UX five-second rules
category: Reviews
pubDate: 4th June, 2014
bannerImage: 1440x785.gif
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
My review for the O'Reilly Bloggers review program on The UX Five-Second Rules by Paul Doncaster.
{{/content}}


{{#content "post-content"}}
<figure>
  <img src="http://daniel.furzeface.com/themes/furzeface_v2/img/placeholder.png" data-src="http://static1.furzeface.com/img/blog/45/the_ux_five_second_rules_cover.png" alt="The cover of The UX Five-Second Rules." />
  <figcaption>The UX Five-Second Rules.</figcaption>
</figure>

<h2>Usability Hub</h2>
<p>Before I'd even finished the preface for <em>The UX Five-Second Rules</em> I was intrigued and had already signed up to <a href="https://usabilityhub.com">Usability Hub</a> and I have to admit I ended up getting quite distracted completing short, five-second usability tests for others and finding my way around the site. </p>
<small>I must add that despite it being a usability focussed site, I found it quite hard to sign up for an account initially! Maybe they were A/B testing…</small>

<h2>Not too sciency&hellip;</h2>
<p>The book goes on to explain the simple methodology behind the 5-second test quite concisely during the initial chapter and helped me realise some potential uses for this type of test for some of our webapps at work. </p>

<blockquote class="pullquote">The Five-Second Rules uses detailed examples from a collection of more than 300 tests to describe the strengths and weaknesses of this rapid testing method.</blockquote>

<p>At this point I was already sold on the idea of 5-second tests (and had already gained 17 karma points on usability hub) but Paul goes on to explain in further detail some of the psychological ideas and rationale behind the concept - without getting too sciency for the reader. </p>
<p>The author states quite interestingly that in a lot of the tests monitored in the book, the test creators seem to be using the concept and also usability hub's tools to test elements of designs and products that it was never intended for - showing that the concept evolved and has a huge variety of use cases. </p>
<p>Giving further examples of good and bad tests clearly give ideas to the reader and made me hold off on creating my first 5 second usability test until I'd finished the book. Or at least read a little bit more…</p>
<small>At this stage, Karma points earned: 27</small>

<h2>The UX Five-Second Rules</h2>
<p>The second chapter starts explaining in more depth the types of tests available and the types recommended for a variety of different aims. </p>
<p>This was quite a lengthy chapter but went into great detail about the methodology behind good tests and gave advice on how to optimise them to get the best results possible. </p>
<small>Karma points earned thus far: 52</small>
<p>It was halfway through this chapter that the impatience in me rose and I decided to try out some usability tests - conducting a Click and a Five Second Test for our latest webapp at work, Payment Search.</p>

<figure>
  <img src="http://daniel.furzeface.com/themes/furzeface_v2/img/placeholder.png" data-src="http://static1.furzeface.com/img/blog/45/payment_search_click_test.jpg" alt="" />
  <figcaption>A screenshot of my test for our Payment Search app at Codeweavers, with the results.</figcaption>
</figure>

<p>Although I got some good results, especially from the click test, upon further reading of this chapter I realise that I should've probably waited as the advice given does indeed cover aspects of five second testing that I would have been wise to take into account. </p>
<p>Kicking myself now&hellip;</p>
<small>Karma points: 17 (I spent a load on tests).</small>

<h2>Further Testing</h2>
<p>Moving on to the next chapters of The UX Five-Second Rules the author talks of how we can test for emotional response and shows us the way that users instantly form opinions on websites' trustworthiness and the reasons why, leading on to approaches to maximise trust and also to test for it.</p>
<p>This gave me some great ideas and I've since reworded one of the questions on my first 5 second test to try and maximise the value and accuracy of the results.</p>

<h2>Patience!</h2>

<blockquote class="pullquote">It was halfway through this chapter that the impatience in me rose.</blockquote>

<p>I do wish that I'd read the entire book before attempting any tests myself but that being said, I still found the tests I performed valuable and now that I've read The UX Five-Second Rules I feel more confident that I can set up some new tests, using the book as a concise reference.</p>

{{/content}}


{{#content "post-tldr"}}
<p>This book served as a great intro into 5 second UX tests and gave a thorough background into the methodology behind it, allowing me to set up some valuable tests on <a href="http://usabilityhub.com">Usability Hub</a>. </p>
<p>Now to set up some more usability tests and start getting results!</p>
{{/content}}

{{/extend}}

