---
pageClass: page-post
title: What we can apply from Upfront Conf
pubDate: 23rd May, 2015
category: Front End
tags:
- front-end
---

{{#extend "layout-post"}}

{{#content "post-summary"}}
We recently attended <a href="http://upfrontconf.com" rel="external">Upfront Conf 2015</a> - here are some things that we took away and started to implement straight away.
{{/content}}


{{#content "post-content"}}
{{/content}}


{{#content "post-tldr"}}
{{/content}}

{{/extend}}
