---
component: footer
hide: true
published: false
---

<footer id="site-footer" class="site-footer" role="contentinfo">
  <p class="site-footer__colophon">All content and design &copy; {{package.author.name}} {{copyrightYear}}. Feel free to browse the full source on <a href="{{package.repository.url}}">GitHub</a>. Please <a href="mailto:{{package.author.email}}">get in touch</a> if you'd like to reproduce or feature content.</p>
</footer>
