---
component: banner
---

<header class="banner banner--full" style="position:relative;">

  <div class="overlay" style="position:absolute;background:blue;top:0;bottom:0;left:0;right:0;background-opacity:0.5"></div>

  <img src="http://placekitten.com/g/1440/785" alt="#" class="banner__image" height="785" />

</header>
