---
component: related-posts
---

<h2 class="post__sidebar__heading">Like this post?</h2>
<p>You should read:</p>

<ul>
  {{#each page.related}}
  <li>
    <a href="{{relative ../page.dest this.dest}}">{{this.data.title}}</a>
  </li>
  {{/each}}
</ul>
