---
component: sidebar
---

<h1 class="post__sidebar__heading">Hi, I’m Daniel Furze.</h1>

<p>A front end developer currently based in Manchester, UK.</p>

<p>I work at <a href="http://building-blocks.com" rel="external">Building Blocks</a> helping the front end team build interfaces for large scale, content managed websites for global clients.</p>

<p>I <a href="/blog" rel="archives">blog</a> and <a href="http://twitter.com/furzeface" rel="external">tweet</a> about various front end development technologies and contribute to various open source projects on <a href="https://github.com/furzeface?tab=repositories" rel="external">GitHub</a>.</p>

{{>share}}
