/**
 * Blog
 *
 * @author Daniel Furze
 */

 .post-content {
  @extend %inner;

  blockquote {
    font-style: italic;
    margin: px-to-rem(50px) 0;
  }

  blockquote {
    @extend %col--10-of-12;
    @extend %push--1;
  }

  h2 {
    border-bottom: 1px solid $brand-grey--light;
  }

  .pullquote {
    // <blockquote>
    color: $brand-blue;
    display: block;
    padding: px-to-rem(10px);

    &::before {
      color: $brand-grey;
      content: open-quote;
      font-size: 4rem;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
  }
}

.articles-list {
  @extend %list-unstyled;
}

.articles-list__item {
  padding: $global-padding / 2 0;
}


.post-footer {
  margin-bottom: px-to-rem(50px);

  hr {
    @extend %col--10-of-12;
    @extend %push--1;
  }
}

figure {
  figcaption {
    font-style: italic;
    text-align: center;
  }
}
