/**
 * Blog
 *
 * @author Daniel Furze
 */

// Blog homepage
.articles-list {
  @extend %list-unstyled;

  .published {
    // <time>
    color: $brand-grey--dark;
  }
}

.articles-list__item {
  border-bottom: 1px solid $brand-grey--light;
  padding: $global-padding / 2;

  &:last-of-type {
    border-bottom: 0;
  }
}

.articles-list__link {
  display: block;

  &:hover {
    text-decoration: underline;
  }

  h1 {
    margin: 0;
  }
}

// Blog post
.main--post {
  // <main>
  @extend %inner;

}

.post {
  // <article>
  @extend %col--8-of-12;

  @include MQ(M) {
    float: left;
  }

  hyphens: auto;
  padding-left: $global-padding;
  padding-right: $global-padding;

  h2 {
    border-bottom: 1px solid $brand-grey--light;
  }

  blockquote {
    @extend %col--10-of-12;
    @extend %push--1;

    font-style: italic;
    margin-top: px-to-rem(50px);
    margin-bottom: px-to-rem(50px);
  }

  .pullquote {
    // <blockquote>
    color: $brand-blue;
    display: block;
    padding: px-to-rem(10px);

    &::before {
      color: $brand-grey;
      content: open-quote;
      font-size: 4rem;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
  }

  figure {
    clear: both;

    img {
      @extend %centered;

      display: block;
    }
  }
}

.post__summary {
  // <blockquote>
  text-align: center;
}

.mins-to-read {
  // <small>
  &::after {
    margin-left: .25em;
  }
}

.permalink {
  color: $brand-grey--dark;
  font-size: .75em;
  margin-left: .25em;

  &:hover {
    text-decoration: none;
  }
}

.post__footer {
  margin-bottom: px-to-rem(50px);

  hr {
    @extend %col--10-of-12;
    @extend %push--1;
  }
}

.post__sidebar {
  // <aside>

  @extend %col--4-of-12;

  @include MQ(M) {
    float:right;
  }

  padding-left: $global-padding;
  padding-right: $global-padding;
}
