/**
 * Blog
 *
 * @author Daniel Furze
 */

 .post-content {
  @extend %inner;

  blockquote {
    @extend %col--10-of-12;
    @extend %push--1;

    font-style: italic;
    margin: px-to-rem(50px) 0;
  }

  h2 {
    border-bottom: 1px solid $brand-grey--light;
  }

  .pullquote {
    // <blockquote>
    color: $brand-blue;
  }
}

.articles-list {
  @extend %list-unstyled;
}

.articles-list__item {
  padding: $global-padding / 2 0;
}


.post-footer {
  margin-bottom: px-to-rem(50px);

  hr {
    @extend %col--10-of-12;
    @extend %push--1;
  }
}
