/**
 * Home
 *
 * @author Daniel Furze
 */

 .page-home {
  .main {
    // @include banner-embellishment($size: 30px, $left: 25%, $right: 75%);

    // position: relative;
  }
}

.page-404 {
  // @todo tidy this up
  background: $brand-color;
  color: $brand-white;
  text-align: center;
}
