/**
 * Home
 *
 * @author Daniel Furze
 */

.page-home__hero {
  background: $brand-color;
  color: $brand-white;
  padding-top: $global-padding;
  padding-bottom: $global-padding;
  text-align: center;
}

.nickname {
  // <h1>
  font-family: $font-family-sans-serif;
}

.desk {
  // <svg>
  display: block;
  height: 100%;
  margin: $global-margin auto;
  max-width: 100%;
}
