// Circle
@mixin circle($size: 1rem) {
  @include size($size);

  border-radius: 50%;

  // Child selector is also a circle.
  > * {
    border-radius: 50%;
    display: block;
  }
}

.circle {
  @include circle();
}
