---
title: Well, this is awkward...
pageClass: page-home
---

{{#extend "layout-page"}}

{{#content "page-content"}}

<div class="page-404">
  <header>
    <h1><strong>Well, this is awkward...</strong></h1>
  </header>

  {{>desk}}

  <h2 class="heading--epsilon">{{emoji 'confounded'}} You 404'd {{emoji 'confounded'}}</h2>
</div>

{{/content}}

{{/extend}}
