---
title: Home
pageClass: page-home
---

{{#extend "layout-page"}}
{{#content "page-header"}}

{{/content}}

{{#content "page-content"}}
<section class="section section--style-a">
  <div class="section__inner">
    <div class="section__content">
      <h1 class="heading--mega heading--style-a">Daniel Furze</h1>
      <h2 class="heading--zeta heading--style-b">Senior front end developer / consultant</h2>
    </div>
  </div>
</section>

<section class="section section--style-b section--with-background" style="background:url('{{{assetsUrl}}}/images/banner/speaking.jpg');">
  <div class="section__inner">
    <div class="section__content">
      <h1 class="heading--zeta heading--style-b homepage__title">Available for</h1>
      <ul class="heading--zeta heading--style-b homepage__list">
      <li class="homepage__list-item in">speaking</li>
        <li class="homepage__list-item">workshops</li>
        <li class="homepage__list-item">writing</li>
        <li class="homepage__list-item">tutoring</li>
      </ul>
    </div>
  </div>
</section>

<section class="section section--style-c">
  <div class="section__inner">
    <div class="section__content">
      <div class="homepage__copy">
        <h1 class="heading--zeta heading--style-b">Specialties</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta excepturi, sequi eveniet animi officiis sunt odio cum eaque qui et quas libero dignissimos quod tempora eum reprehenderit dolores ducimus rem.</p>
      </div>

      <blockquote class="blockquote">
        In all the years of working within this
        industry Dan has to be one of the most
        talented, knowledgable and proactive
        developers I have had the pleasure of
        working with.
        <span class="author">— Peter Broom, freelance front end developer</span>
      </blockquote>
    </div>
  </div>
</section>

{{/content}}
{{/extend}}
