---
title: Home
pageClass: page-home
---

{{#extend "layout-page"}}
{{#content "page-header"}}

{{/content}}

{{#content "page-content"}}
<section class="section section--style-a">
  <div class="section__inner">
    <div class="section__content">
      <h1 class="heading--alpha heading--style-a">Daniel Furze</h1>
      <h2 class="heading--beta heading--style-a">Senior front end developer / consultant</h2>
    </div>
  </div>
</section>

<section class="section section--style-b">
  <figure class="section__background">
    <img src="{{{assetsUrl}}}/images/banner/speaking.jpg" alt="">
  </figure>

  <div class="section__inner">
    <div class="section__content">
      <h1 class="heading--beta heading--style-a">Available for speaking<span class="visually-hidden">,</span> workshops<span class="visually-hidden">,</span> tutoring<span class="visually-hidden">,</span> writing<span class="visually-hidden">,</span> EATING<span class="visually-hidden">.</span></h1>
    </div>
  </div>
</section>

{{/content}}
{{/extend}}
