---
title: Home
pageClass: page-home
---

{{#extend "layout-page"}}

{{#content "page-content"}}

<h1><strong>Daniel Furze</strong></h1>
<h2 class="heading--epsilon">Manchester, UK based front end developer.</h2>

{{>desk}}

<p></p>

{{/content}}

{{/extend}}
