---
title: Home
pageClass: page-home
---

{{#extend "layout-page"}}

{{#content "page-content"}}

<header itemscope itemtype="http://schema.org/Person">
  <h1 class="nickname" itemprop="name"><strong>Daniel Furze</strong></h1>
  <h2 class="heading--epsilon">Manchester, UK based front end developer.</h2>
</header>

{{>desk}}

{{/content}}

{{/extend}}
