---
title: About
pageClass: page-about
tags:
- personal
---

{{#extend "layout-page"}}

{{#content "page-content"}}

<figure class="avatar">
  <img src="{{assetsUrl}}/{{images}}/avatar--stonehenge.jpg" alt="A photograph of Daniel Furze, at Stonehenge." />
</figure>

<header itemscope itemtype="http://schema.org/Person">
  <h1 class="page-about__name" itemprop="name">Daniel Furze</h1>
  <h2 class="heading--epsilon page-about__job">Manchester, UK based front end developer.</h2>
</header>

<p>If you’ve got this far then you already know that I’m a <em>“front end web developer, building modern, responsive websites and web application user interfaces”</em>.</p>

<p>But what does that mean? Well it means that in addition to being quite adept at getting the latest buzzwords into sentences, I also design and build the occasional website.</p>

<hr>

<p>I’ve been doing this since it was done in <code class="inline">&lt;table&gt;</code>s and I hope to be doing it for a great deal longer <small>(maybe even until tables are back in fashion)</small>.</p>

<p>In my time professionally building for the web I’ve had the opportunity to work with clients big and small, national and global - including <em>Adama, BMW, Celebrity Cruises, DWF, Jaguar Landrover, Lloyd’s Register, Ocean Finance, Spotlight, Suzuki, Warner Leisure, Yara</em> and a whole host more&hellip;</p>

<hr>

<p>In my spare time, while I’ve still got my nerd hat on, I get involved with the latest in front end technology.</p>
<p>From creating plugins for front end build systems such as <a href="https://github.com/search?q=user%3Afurzeface+grunt" rel="external">Grunt</a> and <a href="https://github.com/search?q=user%3Afurzeface+gulp" rel="external">Gulp</a> to contributing to <a href="https://github.com/furzeface/image-longdesc" rel="external">Web Components</a>, building a <a href="https://github.com/furzeface/sassface" rel="external">Sass framework</a> and <a href="/blog/playing-with-the-device-light-api">playing about with new APIs</a>, I like to get stuck in with cutting-edge front end tech - documenting it all on <a href="/blog">my blog</a> along with writing tutorials to help others overcome the learning curves in our industry.</p>

<figure class="avatar">
  <img src="{{assetsUrl}}/{{images}}/avatar--tm.jpg" alt="A photograph of Daniel Furze, taking part in Tough Mudder." />
</figure>

<p>When I’ve finished being a nerd for the week you may find me taking part in extreme physical challenges such as <a href="http://toughmudder.com" rel="external">Tough Mudder</a> <small>(above)</small>, you could catch me trying out new cocktails in one of the many hipster bars in Manchester’s Northern Quarter, or perhaps even shaking <a href="http://instagram.com/p/oWpa6pmAjk" rel="external">some of</a> <a href="http://instagram.com/p/oWhCTlmAln" rel="external">my own</a>.</p>

{{/content}}

{{/extend}}
