---
title: Blog
pageClass: page-blog
---

{{#extend "layout-page"}}

{{#content "page-content"}}

<ul class="articles-list">
  {{#each posts}}
  <li class="articles-list__item">
    <a href="{{slug}}">{{title}}</a>
  </li>
  {{/each}}
</ul>
{{/content}}

{{/extend}}
