---
title: Blog
pageClass: page-blog
---

{{#extend "layout-page"}}
  {{#content "page-header"}}
    {{>banner-blog}}
  {{/content}}

  {{#content "page-content"}}
    <ul class="articles-list">
      {{#each posts.page1}}
        {{#unless unpublished}}
          {{>blog-link this}}
        {{/unless}}
      {{/each}}
    </ul>

    <nav class="articles-pagination">
      <ul class="list-unstyled">
        <li class="next"><a href="/blog/2">Next &rarr;</a></li>
      </ul>
    </nav>
  {{/content}}
{{/extend}}

{{!-- @todo rework blog page template a bit more --}}
