---
title: Blog
pageClass: page-blog
---

{{#extend "layout-page"}}

{{#content "page-content"}}

<ul class="articles-list">
  {{#each posts}}
  <li class="articles-list__item">
    <a href="{{slug}}" class="articles-list__link">
      <h1 class="">{{title}}</h1>
      <p>{{summary}}</p>
    </a>
  </li>
  {{/each}}
</ul>
{{/content}}

{{/extend}}
