---
title: Layout Post
---

{{#extend "master"}}

{{#content "master-body"}}

{{>banner}}

{{#if_block "post-content"}}
<main id="main" class="main main--post" role="main">

  <article id="{{slugify title}}" class="post">

    {{#if_block "post-summary"}}
    <blockquote class="post__summary">
      {{#block "post-summary"}}{{/block}}
    </blockquote>
    {{/if_block}}

    {{#block "post-content"}}{{/block}}

    <footer class="post__footer">
      {{#if_block "post-tldr"}}
      <h3 id="TLDR">TL;DR</h3>
      {{#block "post-tldr"}}{{/block}}
      {{/if_block}}

      <hr />

      {{>share-this}}

      <hr />

      {{>comments}}
    </footer>

  </article>

  <aside class="post__sidebar">
    {{>sidebar}}
  </aside>

</main>
{{/if_block}}

{{/content}}

{{!-- Additional Content for <head> and just before </body> --}}
{{#content "master-head" mode="extend"}}
{{#block "head"}}{{/block}}
{{/content}}

{{#content "master-foot" mode="extend"}}
{{#block "foot"}}{{/block}}
{{/content}}

{{/extend}}
