---
title: Layout Page
---

{{#extend "master"}}

{{!-- Main Content --}}
{{#content "master-body"}}

<main id="main" class="main" role="main">

  {{body}}

  <article id="{{slugify title}}" class="page-content">

    <h1 class="page-title">{{title}}</h1>

    {{#if_block "page-content"}}
    {{#block "page-content"}}{{/block}}
    {{/if_block}}
  </article>

</main>

{{/content}}

{{!-- Additional Content for <head> and just before </body> --}}
{{#content "master-head" mode="extend"}}
{{#block "head"}}{{/block}}
{{/content}}

{{#content "master-foot" mode="extend"}}
{{#block "foot"}}{{/block}}
{{/content}}

{{/extend}}
