---
title: Layout Post
---

{{#extend "master"}}

{{!-- Main Content --}}
{{#content "master-body"}}

{{>banner}}

<main id="main" class="main" role="main">

  {{body}}

  {{#if_block "post-summary"}}
  <blockquote>
    {{#block "post-summary"}}{{/block}}
  </blockquote>
  {{/if_block}}

  {{#if_block "post-content"}}
  {{#block "post-content"}}{{/block}}
  {{/if_block}}

  {{#if_block "post-tldr"}}
  <h3 id="TLDR">TL;DR</h3>
  {{#block "post-tldr"}}{{/block}}
  {{/if_block}}

</main>

{{/content}}

{{!-- Additional Content for <head> and just before </body> --}}
{{#content "master-head" mode="extend"}}
{{#block "head"}}{{/block}}
{{/content}}

{{#content "master-foot" mode="extend"}}
{{#block "foot"}}{{/block}}
{{/content}}

{{/extend}}
