---
title: Layout Post
---

{{#extend "master"}}

{{!-- Main Content --}}
{{#content "master-body"}}

{{>banner}}

<main id="main" class="main" role="main">

  {{body}}

  <article id="{{slugify title}}" class="post-content">

    {{#if_block "post-summary"}}
    <blockquote>
      {{#block "post-summary"}}{{/block}}
    </blockquote>
    {{/if_block}}

    {{#if_block "post-content"}}
    {{#block "post-content"}}{{/block}}
    {{/if_block}}

    {{#if_block "post-tldr"}}
    <footer class="post-footer">
      <h3 id="TLDR">TL;DR</h3>
      {{#block "post-tldr"}}{{/block}}

      <hr />
    </footer>
    {{/if_block}}

    {{>comments}}

  </article>

</main>

{{/content}}

{{!-- Additional Content for <head> and just before </body> --}}
{{#content "master-head" mode="extend"}}
{{#block "head"}}{{/block}}
{{/content}}

{{#content "master-foot" mode="extend"}}
{{#block "foot"}}{{/block}}
{{/content}}

{{/extend}}
