---
title: Layout Post
---

{{#extend "master"}}

{{#content "master-body"}}

{{>banner}}

<main id="main" class="main main--post" role="main">

  <article id="{{slugify title}}" class="post">

    {{#if_block "post-summary"}}
    <blockquote class="post__summary">
      {{#block "post-summary"}}{{/block}}
    </blockquote>
    {{/if_block}}

    {{#if_block "post-content"}}
    {{#block "post-content"}}{{/block}}
    {{/if_block}}

    {{#if_block "post-tldr"}}
    <footer class="post__footer">
      <h3 id="TLDR">TL;DR</h3>
      {{#block "post-tldr"}}{{/block}}

      <hr />
    </footer>
    {{/if_block}}

    {{>comments}}

  </article>

  <aside class="post__sidebar">
    {{>sidebar}}
  </aside>

</main>

{{/content}}

{{!-- Additional Content for <head> and just before </body> --}}
{{#content "master-head" mode="extend"}}
{{#block "head"}}{{/block}}
{{/content}}

{{#content "master-foot" mode="extend"}}
{{#block "foot"}}{{/block}}
{{/content}}

{{/extend}}
