---
title: Master Page
---

<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		{{#block "master-head"}}
			{{>head-meta}}
			{{>head-fonts}}
      {{>head-css}}
			{{>head-scripts}}
      {{>head-icons}}
      {{>head-social}}
		{{/block}}
	</head>
	<body class="hentry {{#if pageClass}}{{pageClass}}{{/if}}">

		{{>header}}

		{{#block "master-body"}}
			{{body}}
		{{/block}}
		{{>footer}}

    {{#block "master-foot"}}
			{{>foot-scripts}}
		{{/block}}

  </body>
</html>
