---
title: Master Page
---

<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		{{#block "master-head"}}
			{{>head-meta}}
			{{>head-fonts}}
      {{>head-css}}
			{{>head-scripts}}
      {{>head-icons}}
      {{>head-social}}
		{{/block}}
	</head>
	<body>

		{{>header}}

    <div id="page" class="page {{#if pageClass}}{{pageClass}}{{/if}}">
			{{#block "master-body"}}
				{{body}}
			{{/block}}
			{{>footer}}
		</div>

    {{#block "master-foot"}}
			{{>foot-scripts}}
		{{/block}}

  </body>
</html>
